[2015-12-04 16:38] catalin-hritcu commented on #326
@msprotz Any news?

[2015-12-04 17:24] s-zanella commented on #338
Well, it is for the functions above, but there are still some missing (e.g. `is_Err`).
I guess we can add them on demand, or not add them at all since the definitions that are now missing are rarely used.

[2015-12-04 18:07] nikswamy commented on #444
It will be yet another configuration of the type-checker to test. I don't think our regression suite uses it at all. So, I worry that counting on it going forward will lead to unpredictability.

If you really want to keep it, I don't mind. Let's document it as "experimental" or "brittle" or something like that.

[2015-12-04 18:07] nikswamy opened #445 "Let rec annotations on the result type: scoping is busted"
[code]

[2015-12-04 18:08] nikswamy commented on #445
there's a workaround, which is to use a `val` declaration instead.

[2015-12-04 18:20] mlr-msft commented on #438
Yes, it is frustrating. I experimented a long time ago with developing my own workarounds for this issue in BSD & GNU make and failed to find something really satisfying. :(

If we provide the newline-separated format being discussed, would it then be sufficient for the output of `fstar.exe --gmake` to simply mimic `ocamldep`?

[2015-12-04 21:23] owenarden opened #446 "Vanilla type error leads to "Unknown assertion failed""
Hi,

The following code fails to compile the "fails" function saying "Unknown assertion failed", but the "works" function seems ok.  Is this a bug?

[code]

[2015-12-05 04:22] aa755 commented on #360
Congrats on universes :)

[2015-12-05 22:47] catalin-hritcu commented on #446
The error message is indeed horrible, so it's good that you reported this, we should try to improve that. The main problem is in the code of `fails` though: the type of `g` is wrong, it should be `M ctx b wp2` to match the type of `wp2`.

[2015-12-06 01:26] owenarden commented on #446
I just noticed that I had substituted a for b also, sorry about that. Thanks for taking a look.

I seemed to get slightly better error messages when (1) I wrote an explicit type for "fails" (2) copied the all.fst module into the local directory and opened FStar.All and (3) in response to an error message, changed the return type of "fails" to GTot bool.

I understand why (1) was useful, but (2) an

[2015-12-07 11:09] s-zanella commented on #438
That would be sufficient for our current use of make in miTLS.

[2015-12-07 21:57] nikswamy commented on #438
Updated the original post with some points from Jonathan.

[2015-12-08 01:39] msprotz commented on #438
Some notes to self:

- `open` directives always refer to an absolute path, not a relative one.
For instance, the following does not open `FStar.Heap` in the scope.
[code]

- The tool must output the transitive closure of the dependency graph because there is no support for separate verification.
- One can either adopt a style in which one invocation of fstar verifies everything at once, with just

[2015-12-08 11:05] gsvgit opened #447 "Distribution of verified libraries"
There is an issue on extraction of standard libraries (#372), but what about distribution of verified libraries? Not core only. For example, i want to publish library with verified advanced data structures. It may has references to F* "core" libraries, libraries with other data structures.

Seems, that for .net it would be a good solution to pack F* code as embedded resource for compiled code. Aft

[2015-12-08 16:14] gsvgit commented on #369
Well... What about F#(OCaml) and F* unification? Syntax for functions and types specification can be unified. Yes, it will be only small subset of F#, but can be extended in future. Extended types annotations can be filtered (seems that on lexical level).

code | -> remove extended types annotation -> F# compiler | -> merge errors
-------|--------|------
         | -> F* core   -> Z3 ->

[2015-12-08 16:25] sirinath commented on #369
This will bee great if you can convince all the folk who can do this. This would definitely b the best possible solution.

[2015-12-08 18:35] cpitclaudel commented on #272
I'm looking at this right now. How does it connect with the --in option?

[2015-12-08 18:55] mlr-msft commented on #272
I haven't done any work related to the `--in` option; I'm still ignorant regarding how editors use interactive mode, unfortunately. I had planned on discovering this myself by updating VimFStar in my spare time but that is coming along slowly.

What do you think you need from me in order to make editor integration work?

For example, do I need to change F* to allow you to name the input source? In

[2015-12-08 19:25] cpitclaudel commented on #272
Yes, I expect so. At the moment I just call `fstar --in` to start the interactive toplevel. I could call `fstar --some-flag file-name` instead.

[2015-12-08 19:34] s-zanella opened #448 "Unable to open files by absolute paths"
This looks similar to #337.
[code]
I'm having this problem on Cygwin with an OCaml binary built using OCaml 4.02.1. Works fine on Mac OS X.

With an F# binary it is even worse:
[code]
I don't remember running into this problem recently.

[2015-12-08 19:42] mlr-msft commented on #272
I'll get to work on it. :smile:

[2015-12-08 19:49] catalin-hritcu commented on #448
AFAIK, on windows `fstar.exe` expects windows paths. You're passing in Cygwin paths.

[2015-12-08 19:58] s-zanella commented on #448
Thanks Catalin. These work:
[code]
Strange I don't remember having this problem in the past. Closing it.

[2015-12-08 19:58] #448 closed

[2015-12-08 20:02] s-zanella opened #449 "Quite expected error"
[code]

[2015-12-08 20:06] catalin-hritcu commented on #448
It would be nice to also support Cygwin paths, if someone knew how to make that work.

[2015-12-08 20:52] msprotz commented on #448
Test for the cygpath utility, then run the argument through cygpath -m... that's heavyweight and tedious. Not sure it's worth the trouble.

[2015-12-09 19:38] msprotz opened #450 "Be aware of restrictions on the rhs of let-rec in OCaml"
The following code, once #275 is fixed, will be type-checked and accepted by both F\* and F#, but will extract to OCaml code that doesn't compile.

[code]

[2015-12-10 00:09] mlr-msft commented on #272
I think I've pushed the changes needed to make this work.

Instead of calling `fstar.exe --in`, you will now call `fstar.exe --auto_dep --in_context <path-name>`, where `<path-name>` is the file's path name. It's actually the directory the file resides in that's important, so if you pass an absolute path name to the source file, you're assured that F* will interpret the specified dependencies as i

[2015-12-10 12:34] s-zanella commented on #272
I'm missing a generated `FStar_Parser_Dep.ml` file in `src/ocaml-output` to build the OCaml binary:

```make[2]: *** No rule to make target 'FStar_Parser_Dep.cmx', needed by 'fstar.exe'.  Stop.```

[2015-12-10 13:13] catalin-hritcu commented on #272
@s-zanella  Fixed now.

[2015-12-10 14:47] s-zanella commented on #272
Thanks.
It'd be nice to modify the Makefile to re-generate the file.

[2015-12-10 14:54] catalin-hritcu commented on #272
The `Makefile` (`make ocaml boot-ocaml`) does regenerate the file.
[code]

[2015-12-10 14:57] s-zanella commented on #272
Brilliant. Thanks again.

[2015-12-10 19:34] msprotz opened #451 "Forbid (or allow?) self-references to the current module"
The module `Heap` (file `heap.fst`) references itself, i.e. the module `Heap`, at line 53.

[code]

This should be flagged and rejected by the type-checker.

[2015-12-14 20:11] nikswamy opened #452 "Implicit argument misses a refinement check"
This type-checks when it shouldn't

[code]

[2015-12-15 09:30] jordwalke commented on #332
@xavierzwirtz: Now that, I'd like to see.

[2015-12-15 09:59] ad-l commented on #332
What is the most popular virtual DOM nowadays? Is jsdom still used?

[2015-12-15 11:16] jordwalke commented on #332
React is probably the most popular "virtual DOM", but it's more than just a "virtual DOM". It's a functional API for composing UIs on top of arbitrary rendering layers including native iOS/Android views (not just the DOM).

[2015-12-19 02:02] msprotz commented on #326
Release seemed to be working.

[2015-12-19 02:02] #326 closed

[2015-12-19 02:09] msprotz commented on #438
Status update. `fstar` now takes a `--dep X` option where `X` is either `make` or `nubuild`.

In the former case, it prints in a Makefile format the dependencies of all files passed on the command-line. Targets are printed as they were passed to fstar. Dependencies are always basenames (no paths). It assumes that any -I option given to `fstar --dep` will also be given to subsequent invocations of

[2015-12-24 09:11] artella-coding commented on #211
@catalin-hritcu @nikswamy

In the absence of modules, how can I succinctly synthesize a third type without explicitly specifying all the "arguments" of the types from which it is being constructed from? For example in SML (polyml) I can do the following. Note that when I construct a type of type `THIRD` from types `FIRST` and `SECOND` then I do not need to explicitly specify all the types containe

[2015-12-25 08:34] artella-coding commented on #211
@catalin-hritcu @nikswamy For example in fstar one can do :

[code]

but in `createMythird` we need to specify all the constituent types of `myfirst` (namely `a1`,`b1`,`c1`) and `mysecond` (namely `a2`,`b2`,`c2`), whereas in the SML functor `createThird` we do not need to do this.

[2016-01-03 07:29] artella-coding opened #454 "Fictional Purity: Pure function which uses ref only for internal state"
Is it possible to have a pure function which employs mutation but only within an internal state [sort of like the haskell `runST` monad  (https://wiki.haskell.org/Monad/ST#A_few_simple_examples)]?

For example the following works :

[code]

but the following does not work :

[code]

even though the latter seems to me like a pure function, since it gives the same result for a given input every sing

[2016-01-04 17:48] catalin-hritcu commented on #454
Unfortunately this is not possible at the moment, but we are considering supporting this in the future. For more details please look at

* Section "7 Fictional purity" here: http://prosecco.gforge.inria.fr/personal/hritcu/students/topics/2016/fstar.pdf

* Section "4.3 Forgetting effects, logically" in this old draft:
https://www.fstar-lang.org/papers/icfp2015/submission.pdf

[2016-01-05 21:51] artella-coding commented on #454
@catalin-hritcu Ah that's extremely cool thanks.

[2016-01-07 01:09] beurdouche commented on #449
[code]

[2016-01-07 14:09] s-zanella commented on #449
I still have this error with the F# build. The OCaml build behaves as expected (as in your post).

[2016-01-11 16:17] jkzinzindohoue opened #455 "Coercion from Ghost lemmas to Lemmas"
I am looking for ways to use "ghost lemmas" into lemmas or actual code. So far I have come up with something like the following:

[code]

Which works. So I have a couple questions:
- is it sound (I restricted the coercion function to unit types only) ?
- if so could it be added to FStar.Ghost so as to allow one to write lemmas reasoning on ghost values ?
- is there a more appropriate way to write

[2016-01-17 13:08] Metal10k commented on #332
Is there any progress on this? I for one am keen to see this working, as in my opinion there are no satisfactory solutions to write ML-derivative code that transpiles to javascript on windows.

I am also a little confused as there are tutorials on this (http://rise4fun.com/FStar/tutorial/jsStar), but the current compiler (0.9.1.1) doesnt seem to accept the "--codegen JavaScript" flag. Is there som

[2016-01-17 13:12] catalin-hritcu commented on #332
That tutorial is for an old, different, and unmaintained version of F*. Unfortunately, @nikswamy found no way to remove it from the web, so it keeps confusing people.

[2016-01-17 13:19] Metal10k commented on #332
Not to worry, thanks for clearing that up.

[2016-01-19 00:25] wizeman opened #456 "Can't find `prims.fst` after `make install`"
When I build F* from source and try to install the OCaml-compiled binary by running `make install -C src/ocaml-output`, the binary gets installed into `$PREFIX/bin` and the library files get installed into `$PREFIX/lib/fstar`.

However, when I try to run `fstar.exe` from `$PREFIX/bin` to verify the first exercise in the tutorial, it fails saying that it cannot open `prims.fst`. The reason it canno

[2016-01-19 02:46] catalin-hritcu commented on #456
@msprotz  Did the opam package already solve this somehow?

[2016-01-19 02:47] catalin-hritcu commented on #456
@wizeman Do you have any good reason for running `make install` in the first place? Beyond the opam package we never use that.

[2016-01-19 16:13] wizeman commented on #456
@catalin-hritcu I was working on packaging F* for Nix / NixOS (in NixOS/nixpkgs#12462).

It is true that the F* documentation mentions using `make package` to create binaries, but this requires a whole bunch of extra dependencies compared to `make install`, such as git, LaTeX, zip, and especially Madoko, which is not packaged in Nix yet (I would have to do it myself), the latter of which also adds

[2016-01-21 09:13] msprotz commented on #456
Hmm this is strange indeed. The code for `prims ()` should find `prims.fst` in the include path, and shouldn't bypass `get_include_path`...

I think this was broken by @mlr-msft 's commit (see https://github.com/FStarLang/FStar/blame/56ad833f68e3a87e58d6ae33c3e5df19cd1bfa14/src/basic/options.fs#L190 ); I think you should use the git tag that I used to build the OPAM package, and then "make install

[2016-01-21 09:13] msprotz commented on #456
And thanks for the report by the way. We all use local development builds of F*, so we don't try "make install" too much.

[2016-01-21 22:10] mlr-msft commented on #456
@wizeman: Yes, thanks for submitting the report. :smile: I've submitted a pull request that I hope addresses the problem. Please let me know if it doesn't.

[2016-01-22 08:35] VincentCheval opened #459 "Unexpected error: "Impossible: this instance has already been assigned a solution""
Hello,

I've restarted using Fstar recently and while I was going through the tutorial, I found the following unexpected error.

[code]

When I run this code, I obtain:

[code]

Any idea ?

[2016-01-22 10:20] #456 closed

[2016-01-22 13:17] VincentCheval opened #460 "Physical equality on references"
Hello,

How does F* handle equality between references ? Here is my code:

[code]

Running this with the ocaml extractor returns me the following result:

[code]

Since x, y, z are all references defined separately (hence physically different), I would have expected that both tests return false. However, it seems that F* never compare reference but the content of the references. Is it normal ? If

[2016-01-22 13:28] catalin-hritcu commented on #459
You could try minimizing and see if you hit anything similar to #208 or #398.

[2016-01-22 14:08] VincentCheval opened #461 "Module FStar.List does not open"
Hello,

I'm sorry for spamming you with question but I have an issue when using the module FStarList. I tried all three following codes and it returns the error "Identifier not found: [FStar.List.length]" for the first two, and "Identifier not found: [length]" for the third. (I'm using the binary for MAC)

[code]

[code]

[code]

On the other hand, there is a file list.fst and list.fsi in my lib f

[2016-01-22 14:12] VincentCheval commented on #459
By minimizing, do you mean the following ?

[code]

If yes then same result as above.

Would it be because I use the Mac Binary instead of compiling from source ?

[2016-01-22 14:36] catalin-hritcu commented on #461
You're using an old binary. Please try trunk before filing anything.

[2016-01-22 14:43] VincentCheval commented on #461
I don't think I'm using an old binary. When I run --version, it gives me:

[code]

It seems it is the latest release available on GitHub. Am I mistaken ?

[2016-01-22 14:47] catalin-hritcu commented on #461
Latest release yes, but it's 3 months old, and we do not maintain old releases. As our README mentions:

[2016-01-22 14:49] VincentCheval commented on #461
My bad. Sorry.

[2016-01-22 15:52] VincentCheval commented on #461
I'm terribly sorry but I still don't manage to "open" correctly the library FStar.List (or any other from your package typically). I tried on the F* version online as well as on the bash version and I always get the "Identifier not found". What is the command line for fstar.exe to tell him to go look for library in the lib folder from the distribution ?

[2016-01-22 15:54] msprotz commented on #461
Hi there,

The easiest way to get the latest version of F* would be to check out the sources, make sure you have an up-to-date, recent OCaml (e.g. via OPAM), then run `cd FStar && make -C src/ocaml-output`. Then, if you run the F* binary that's found in `bin/`, your example should work.

[2016-01-22 16:08] beurdouche commented on #461
Hi Vincent !

[code]
when trying to type-check it, I got the following error :
[code]
It seems that the module is not recognized.
If I add explicitly the `FStar.List.fst` before `test.fst ` I also need all it's dependencies which are listed here
[code]

[2016-01-22 16:13] beurdouche commented on #461
Ps: you might require less dependancies to the FStar.List module but I personally do not remember which...

[2016-01-22 16:20] VincentCheval commented on #461
So, does that mean every time I need one of the library already written in the distribution, I need to go an check what are its dependencies ? There is no option for fstar.exe where we could put a directory in which he can just go and look automatically ?

[2016-01-22 16:35] beurdouche commented on #461
I agree it is not practical, we have progress on having the dependancies automatically fetched but the feature is not complete yet. In the mean time, on top of many `lib` files, there is a "build-config" header that usually contain these dependancies for interactive type-checking. You might find it useful.
Did you manage to make it work at the end ?

[2016-01-22 16:49] VincentCheval commented on #461
Thanks a lot for the tip =) I finally manage to compile it following your example. I'm gonna check the build-config of the lib files to learn a bit more about them. Thanks !

[2016-01-22 17:02] #461 closed

[2016-01-22 17:07] msprotz commented on #461
`fstar --dep make test.fst` should help you out with the dependencies in this example...

[2016-01-26 12:30] VincentCheval opened #463 "Termination of recursive function with inductive type"
Hello,

I have simplified my problem into the following: Imagine you have a type of trees where each node can have multiple sons and are labeled by an integer (the multiple sons are represented by the `list tree` in the type `tree`. The leaves are not labeled. It's not very elegant in this simplified version by I would need something similar in my real code.

[code]

It gives the following error:

[2016-01-26 22:13] VincentCheval commented on #463
I tried also the following code:

[code]

I does not give me syntax errors but it does not type check either. Would it be possible to indicate inside the declaration of the type `tree` that the `tree`s in the nodes are smaller according to the relation `<<` ? Something like:

[code]

The previous code gives me a syntax error but it's just to give my intuition.

Thanks again 😊
Vincent

[2016-01-27 14:59] catalin-hritcu commented on #463
This seems like a common source of pain. Please have a look at `treeMap` here:
https://github.com/FStarLang/FStar/blob/master/examples/termination/termination.fst#L110
The main problem here is that even if F* can prove a property `p` for all elements of a list, that's not enough for it to give the list type `list (x:'a{p})`.

[2016-01-27 16:09] VincentCheval commented on #463
It's working like magic 😊 I would have never come up with what you wrote in termination.fst ! Thanks a lot of the help. It's very pleasing to always receive very quick answer.

[2016-01-27 23:53] VincentCheval commented on #463
Hello again,

Continuing on my previous problem, I think I found a bug. I used the code that you showed me, that is:

[code]

And then I wanted to show that the length of the list return by `move_refinement #a #p l` is the same as `l`. For that, I followed what you wrote for `mapT_lemma` in `Star.ListProperties.fst`:

[code]

But then F* gives me the following error:
[code]

I checked on the githu

[2016-01-28 12:30] catalin-hritcu commented on #463
Could you remind me which post you're talking about here?

[2016-01-28 12:32] VincentCheval commented on #463
This one: https://github.com/FStarLang/FStar/issues/155

[2016-01-28 12:45] catalin-hritcu commented on #463
Since #155 is already closed I think we can safely assume that problem is fixed.

I would also expect this to work, since:
`length (move_refinement (hd::tl)) = length (hd::move_refinement tl) = 1+length (move_refinement tl)`
Could you please try adding assertions about these 2 equalities and check that they can be proved?

Another thing I would try would be proving the equality you want directly i

[2016-01-28 15:57] msprotz opened #464 "fstar doesn't seem to handle spaces in directories"
[code]

(The `--explicit-deps` flag is just here to bypass my code...)

The error comes from `find_file` in `basic/options.fs`, which doesn't seem to find the right file...

[2016-01-28 22:44] VincentCheval opened #465 "Possible bug with the operator && ?"
Hello,

I think I found a bug with the operator && in the type-checking but I'm not sure. With the following code, I obtain the error message `Test.fst(7,96-7,98): Subtyping check failed; expected type n:name{(is_private n)}; got type name`

[code]

But with the following code, it type checks:
[code]

To be clear, I changed ` not (mem n') && is_private n'`in `is_private n' && not (mem n')`.

Is it

[2016-01-28 23:01] s-zanella commented on #465
It is normal behavior, sound with respect to the short-circuit evaluation semantics of `&&`.
That is, `a && b` is equivalent to `if a then b else false`, so when type checking `b` it is fine to assume `a`.

[2016-01-28 23:45] VincentCheval commented on #465
Thanks 😊 So I need to be careful in which order I put my boolean terms when I use the operator &&

[2016-01-29 16:48] VincentCheval commented on #407
I tried the code of `furl` above and I obtain the same error message as him. However, I do not have an error in the following:

`Test.fsi`:

[code]

`Test.fst`

[code]
vincheval:Fstar Version vincentcheval$ fstar Test.fst
Verifying i'face: Test
Verifying module: Test
All verification conditions discharged successfully
``

[2016-01-29 17:34] nikswamy commented on #407
.fsi files are on their way out. Supporting them accurately is too painful and we have other means of enforcing abstractions. This bug will not be fixed; rather .fsi will just become illegal.

[2016-01-29 19:13] #465 closed

[2016-01-29 22:25] VincentCheval commented on #407
When you say .fsi will become illegal, is it the same for .fsti ? because I have the same issue when I rename my .fsi into a .fsti

[2016-01-29 23:25] nikswamy commented on #407
Yes, both .fsi and .fsti interfaces will soon become illegal.

[2016-01-29 23:27] VincentCheval commented on #407
Thanks for the information. I wonder what the new system is gonna be 😊

[2016-01-30 17:21] catalin-hritcu opened #466 "Problem with nil and list refinements"
The following correct code:
[code]
causes the following spurious error pointing at the nil (`[]`) expression:
[code]
Turning the spurious refinement `(x:int{True})` into just `int` makes this type-check again, so there is something very fishy happening here.

This is a simplified version of a problem from #463.

[2016-01-30 18:00] catalin-hritcu commented on #463
There are a couple of F* problems here. First, the nil case failing is a bug I've filed separately as #466. For the cons case the equalities above should be provable, and in fact they are provable as lemmas. Moreover, calling these lemmas makes the proof go through:
[code]
Still it's a complete mystery why the asserts would fail. They're supposed to help the SMT solver instantiate the `forall z. m

[2016-01-30 18:23] catalin-hritcu commented on #466
Looking at the failing proof obligation it seems that F* is asking the SMT solver to prove that `Prims.Nil Prims.int` is equal to `Prims.Nil Typ_refine_3356` where `Typ_refine_3356` corresponds to `x:int{True}`, and the SMT solver cannot prove this. It seems a bug/limitation in F* that refinements break value equality in this silly way.

[2016-02-01 10:10] beurdouche commented on #410
Fixed by 52b9bc8

[2016-02-01 10:10] #410 closed

[2016-02-01 11:00] beurdouche commented on #449
Fixed by d60bd4c

[2016-02-01 11:00] #449 closed

[2016-02-01 11:28] beurdouche opened #467 "Collisions from different namespaces"
[code]

If two namespaces contain a module with the same name and a similar method, it is unclear which one will be used...

[code]

I believe there are two problems here :
1 - `Strange.my_valueX` should not go through as neither `open FStar` nor `open Bob` are explicitly present
2 - In the case where both are open, F* should fail, saying there is a possible clash (which is not the case even if yo

[2016-02-01 12:19] jkzinzindohoue commented on #467
I think that when the FStar namespace was added to the standard library, a mecanism of automatic resolution for the namespaces was added so that all the codebase would not break. Like if you say `Set` it would be able to understand `FStar.Set`.
In your example, is it the `FStar` or the `Bob` module that is infered ? I guess it should be documented anyway.

[2016-02-01 12:49] beurdouche opened #468 "Makefile calls an illegal option of 'date' in OSX"
Another dumb OSX bug when `$ make -C src/ocaml_output`...
[code]

[2016-02-01 13:12] msprotz commented on #467
What I know for sure is "open Foo" either:
- opens the module "Foo" if Foo.fst is in the search path, that is brings all of its definitions into scope, or
- if Foo.fst is not in the search path, then "open Foo" re-binds all Foo.Barᵢ.fst in the search path as Barᵢ.fst

I need to check with Nik, but I suspect the following also happens:
- "open Foo.Bar.fst", when "Foo.Bar.fst" is in the search path,

[2016-02-01 15:53] beurdouche commented on #467
Hum... also on second thoughts about my point 2 here, we should be careful as it allows shadowing right ?

[2016-02-01 16:40] beurdouche opened #469 "Opam package calls the 'install' tool with an illegal option on OSX"
When installing the fstar opam package on OSX `$ opam install fstar`
there is yet another boring incompatibility between Linux and Unix tools...
[code]

[2016-02-01 16:44] msprotz commented on #469
Urgh. Any ideas Benjamin?

[2016-02-01 17:01] beurdouche commented on #469
Unfortunately, I am not sure there is a generic way to circumvent this kind of problems...

That said, everyone that has installed `coreutils` through Homebrew or Macports has all those utilities in the GNU version available by prefixing the tools with `g` (`ginstall -D` will work properly while `install -D` fails).

A fix could be to simply search if `ginstall` exists and use it if it is availabl

[2016-02-01 17:10] beurdouche commented on #469
@msprotz, I think, I'll patch the Makefile this way in order to fix (#468) ...

[2016-02-01 17:13] msprotz commented on #469
Yes that would be good.

That sounds like one more argument in favor of a configure... see the last few lines of https://github.com/protz/mezzo/blob/master/configure to see how to detect this kind of stuff

[2016-02-01 19:43] VincentCheval opened #470 "Question concerning "exists x. p x"."
Hello,

I have a question concerning the use of lemma that proves something like `exists x:A. p x`. For instance, imagine that I have a lemma that proves: `exists x:A. p x` (let's call it Lemma_1) and for a proof of an other lemma (let's call it Lemma_2), I want to "use" this x (the existential here is not necessarily constructive), how can I extract from Lemma 1 a ghost value `x` of type `A` that

[2016-02-01 21:40] msprotz opened #471 "Extraction error for type without definition"
Note: in the universes branch, this line is actually forbidden (you cannot give a type without a definition, you must say assume).

[code]

[2016-02-01 21:45] catalin-hritcu commented on #470
Can't do this now, but it could be something to try on the universes branch.

[2016-02-01 21:57] msprotz commented on #470
Isn't it the purpose of the Squash module?

[2016-02-01 22:03] beurdouche commented on #468
Fixed by 85f3ba4e

[2016-02-01 22:03] #468 closed

[2016-02-01 22:03] beurdouche commented on #469
Fixed by 85f3ba4e

[2016-02-01 22:03] #469 closed

[2016-02-01 22:10] catalin-hritcu commented on #470
One can try, but `Squash.get_proof` is inconsistent in an impredicative world.

[2016-02-01 22:19] nikswamy commented on #467
The reason is that `open FStar` is implicitly added to the set of open namespaces in every file.

You should not observe this behavior if you `open Foo.Strange` instead of `open FStar.Strange`

[2016-02-01 23:40] VincentCheval commented on #470
Thanks for the quick answer 😊

Since I opened a topic on lemmas, would you also know why I can't write:

[code]

It seems that the syntactic sugar for Lemma requires it to be a function. That's why I wrote earlier:
[code]

That would be fine with me but if I want to add an SMTPat for this lemma, I get a warning saying that `(Warning): Pattern misses at least one bound variables: unit`. For instanc

[2016-02-02 06:32] beurdouche commented on #467
Ok cool =) So should we make everything consistent by enforcing 1) or just document somewhere that `open FStar` is added automatically ? I personally prefer enforcing 1)...

[2016-02-02 06:41] beurdouche opened #472 "Standard library folder (lib) required for OCaml build"
If the `lib` folder does not exist then `make -C src/ocaml_output` will fail with:

[code]

It does not fail for the F# build because the behaviour is not the same (there is the `basic` directory)
It would be nice to make all the backends consistent and non-dependant on `lib` at some point...

[2016-02-02 12:18] msprotz commented on #472
Actually a better solution would be to make the files in basic/ links to the files in lib/ (or the opposite) so that we don't have several implementations of the same libraries... (I'm thinking about list that has several copies all over the source tree).

[code]

[2016-02-03 22:02] msprotz opened #473 "Weird issue with seq.fsi / FStar.Seq.fst"
It seems like FStar.Seq.fst cannot be verified alone, and needs seq.fsi prepended to it... this is sending the auto-deps analysis off the rails. Any way we can get rid of seq.fsi?

[2016-02-03 22:03] msprotz commented on #473
There seems to be a similar issue with ordset.fsi:

[code]

[2016-02-04 09:28] jkzinzindohoue commented on #473
You can merge seq.fsi into FStar.Seq.fst and rename seq.fsi into
FStar.Seq.fsi.
I do not know what Set was renamed but not Seq.

2016-02-03 23:03 GMT+01:00 Jonathan Protzenko <notifications@github.com>:

[2016-02-04 09:30] catalin-hritcu commented on #473
On Thu, Feb 4, 2016 at 10:28 AM, Zinzindohoué Jean Karim <
notifications@github.com> wrote:

Too many typos in this comment? Makes little sense to me.

[2016-02-04 09:34] jkzinzindohoue commented on #473
Fixed one typo, if it helps.

[2016-02-04 09:36] catalin-hritcu commented on #473
@jkzinzindohoue  So you want `seq.fsi` to be both merged into the new fst *and* renamed into the new fsi?

[2016-02-04 09:44] jkzinzindohoue commented on #473
Well if I understand the way things are going, with the merge of the auto-deps branch we will not be able to use .fst files as implementations for .fsi. I may be wrong, all this is not very clear to me.
In any case, the current `FStar.Seq.fst` file contains only implementation, it has no types, no function declarations. So if one wants to prove something relying on the FStar.Seq module she has to

[2016-02-04 09:46] catalin-hritcu commented on #473
@jkzinzindohoue  Makes more sense now, thank you :)

[2016-02-04 15:01] beurdouche commented on #473
So, I have those changes locally where all the specs from the `.fsi` file are merged in the `.fst` file (exactly and without any changes). This type-check without error ...

Should I push this change and remove `seq.fsi` ?

[2016-02-04 15:03] catalin-hritcu commented on #473
+1

[2016-02-04 15:07] beurdouche commented on #473
Done in https://github.com/FStarLang/FStar/commit/f70393b69f7d793128e8023ad0de2f8fc72a257f
I'll fix the Makefile ... etc...

[2016-02-04 15:28] msprotz commented on #473
Excellent. If you see any Makefiles that use --explicit_deps just for the purpose of passing seq.fsi before FStar.Seq.fst, chances are they might work without --explicit_deps and without any other arguments except for the last file.

[2016-02-04 16:52] fournet commented on #473
Still confused by this... How to fix the Makefile in mitls to get something to typecheck again?

[2016-02-04 16:54] beurdouche commented on #473
remove the `—admit_fsi FStar.Seq`
replace `seq.fsi` by `FStar.Seq.fst` if it was not already there

[2016-02-04 16:59] ad-l commented on #473
Just fixed the mitls-fstar Makefile

[2016-02-04 17:17] beurdouche commented on #473
Can someone please check if `make -C examples` go through. (I often have z3 timeouts on OSX...)

[2016-02-04 17:46] msprotz opened #474 "Two issues about fancy ANSI codes in terminal output"
① I see this

[code]

in my terminal (Ocaml extraction). Extraction issue?

② Expose a new isatty function that returns `None` (F# backend) and `Some (Unix.isatty ())` (OCaml backend). Print ANSI codes iff `isatty() = Some true`.

[2016-02-04 17:49] msprotz commented on #473
Running that right now

[2016-02-04 17:59] msprotz commented on #473
The four steps after `make theory` in `examples/wysteria/Makefile` are broken; everything else is good.

[2016-02-04 18:14] catalin-hritcu commented on #474
This used to work well on Linux. Are you on windows? In cygwin or cmd?
On Feb 4, 2016 6:46 PM, "Jonathan Protzenko" <notifications@github.com>
wrote:

[2016-02-04 18:42] msprotz commented on #474
Windows / cygwin terminal

[2016-02-04 19:22] mlr-msft commented on #474
I just pushed a commit implementing @msprotz's suggestion (0d7e2f6698551ebd4d8655a25b028d40d090b88c) based on a conversation we were having yesterday  with @beurdouche. I didn't realize there was a conversation about it here too-- sorry about that.

Basically, the ANSI output breaks NuBuild integration and I needed to unblock myself.

[2016-02-04 21:50] beurdouche commented on #474
@mlr-msft, thanks a lot for writing the patch. It seems to work properly on both the F# and OCaml version for OSX, so I just pushed your change in the OCaml snapshot.

[2016-02-04 21:54] beurdouche commented on #473
Ok I'll have a look at it, thanks.

[2016-02-04 22:36] mlr-msft commented on #474
Glad i could help. :)

[2016-02-04 23:26] beurdouche commented on #473
I think we are almost ok for `FStar.Seq.fst` now...
Also, I fixed `--auto-deps` issues in forgotten targets for verification in `wysteria` except for a `codegen` target that won't go through because of `ordset.fsi`.
Probably @aseemr should have a look at the target to make it work before we attempt to merge `ordset.fsi` with `FStar.OrdSet.fst`

[2016-02-05 09:03] catalin-hritcu opened #475 "Regression target broken since merge or autodep branch"
I see that people are making good progress on making the examples build again (it would have been great to do that *before* merging the branch, by the way).

The `make regressions -C src` target starts with `make -C lib` though, and that's in a very sorry state after this merge, with a dozen of its actions failing. (Here's a list: https://gist.github.com/catalin-hritcu/5a56384c62ab19fd39c6)

Any v

[2016-02-05 10:15] beurdouche commented on #475
I am having a look at this right now starting by `lib` but help is welcome ;)
B.

[2016-02-05 10:34] beurdouche commented on #475
`lib` is done by https://github.com/FStarLang/FStar/commit/71e301c1618154e215bef9c7515ee88c5feefedb <https://github.com/FStarLang/FStar/commit/71e301c1618154e215bef9c7515ee88c5feefedb>

Taking a look at `regressions`

[2016-02-05 10:51] beurdouche commented on #473
Closing, feel free to reopen if there are problems with `FStar.Seq`

[2016-02-05 10:51] #473 closed

[2016-02-05 11:22] beurdouche commented on #474
I just understood why it wasn't working for some people and was for others.
If you clean your repo from everything `git clean -xffd` and built F* using
`make -C src` -> Does not show ASCi codes properly
`make -C src/ocaml-output` -> Does not show ASCi codes properly

Only if in-between you made `make ocaml -C src` the codes will show up properly.
I think this is because we tend to commit the gener

[2016-02-05 11:36] beurdouche commented on #474
Seems to work from a clean repo now `make -C src/ocaml-output` prints ASCI codes ;)

[2016-02-05 13:35] beurdouche commented on #475
looks that `regressions` is behaving properly once `lib` is fixed. Can someone confirm and close ?

[2016-02-05 13:37] beurdouche opened #476 "Unit tests are failing with one more error than expected"
`make -C examples/unit-tests` gives :
https://www.fstar-lang.org:3443/fstarlang/fstar/job/56b486923453a92f5e00c078

[2016-02-05 13:42] beurdouche opened #477 "Tutorial seems broken"
`Error: not a valid FStar file: /tmp/fstar_HGyEBP`
![fstar_broken_tutorial](https://cloud.githubusercontent.com/assets/1193431/12847861/8df3c238-cc16-11e5-849d-57c3cb1840ed.jpg)

[2016-02-05 15:23] beurdouche opened #478 "My build-config disappeared and I never made the effort of maintaining a makefile..."
As `--auto_deps` was merged by @msprotz in master, all `--build-config` are not parsed anymore.
This means some people will probably have some surprises...

We are removing massively build config and make sure that all those makefiles are still working properly.
Still, if at some point you want to search for a removed build-config for some reason like creating a new makefile, the links are below:

[2016-02-05 16:26] beurdouche commented on #478
The list is complete: perhaps at some point, we should move it to the Wiki

[2016-02-05 17:49] ad-l commented on #477
This is quite annoying and urgent, trying to see how I can still maintain compatibility with files containing multiple modules

[2016-02-05 18:02] msprotz commented on #477
--explicit_deps to get the old behavior?

[2016-02-05 18:29] ad-l commented on #477
Many tutorial exercises use multiple modules in the same file and broken patterns (e.g. open Prims.PURE) that won't be solved by --explicit_deps. As a workaround I am now using autodeps + splitting inputs in different files based on declared module, but this is brittle.

Someone needs to go through doc/tutorial/code and fix the examples to adhere with the new rules.

[2016-02-05 19:54] #474 closed

[2016-02-05 20:13] beurdouche commented on #476
I had to fix the makefile for unit-tests so I added one failing case in the Makefile without searching the entire history (https://github.com/FStarLang/FStar/commit/83b57eb175c74da1212f204cd4d8cba78e50cc48).

I feel like that our way of handling negative tests and count them is bad and it would be better if we could know exactly what is supposed to fail and what is failing.

Maybe having separated

[2016-02-05 20:16] catalin-hritcu commented on #476
The general problem here is related to #231 where I also proposed a potential fix.

[2016-02-05 20:24] beurdouche commented on #476
What about an F* flag like `--expect_failure MyNegTestModule1` that would prevent to write on the standard error and display a nice “Verification failed as expected” ?

[2016-02-05 20:28] beurdouche commented on #231
See also #476

[2016-02-05 20:34] beurdouche commented on #476
Closing in favor of #231

[2016-02-05 20:34] #476 closed

[2016-02-05 20:35] beurdouche commented on #231
As mentioned in #476 :
What about an F* flag like --expect_failure MyNegTestModule1 that would prevent to write on the standard error and display a nice “Verification failed as expected” ?

[2016-02-05 20:42] beurdouche commented on #475
`make regressions -C src` is very strange, it builds `CoreCrypto` that relies on having `OpenSSL` and so on ...

[2016-02-05 22:09] catalin-hritcu commented on #475
And what's strange about this?

[2016-02-05 22:09] msprotz opened #479 "Every function FStar.Heap should be in ghost"
This is only when using hyperheap's implementation of get ().
- Should the function be marked as ghost, or as erased somehow?!

[2016-02-05 23:39] beurdouche commented on #474
@mlr-msft improved a bit (https://github.com/FStarLang/FStar/commit/3789fea0b91345dc4f372965f32614f2e57ead71) upon your patch. Theoretically it should not break anything...

[2016-02-06 08:06] beurdouche opened #480 "Line endings are not in harmony throughout the source code"
It often happened that while changing one line only in files, the entire file switched line-ending which make the diff difficult to review for auditing.

What is the official policy to enforce in the remote repository for end-lines ? CR is it ?

[code]

[2016-02-06 08:12] beurdouche commented on #474
I will not add any colours anymore (I don't want F* to feel like a christmas tree ^^)
That said, if you think errors and warnings should be coloured in red and cyan respectively
you can simply use the new functions `Util.colorize_red`, `Util.colorize_cyan` (`Util.colorize_bold`) to which you simply pass any string. ;)

[2016-02-08 16:57] beurdouche opened #481 "Errors are not sent to stderr"
It seems that most `Errors` and `Warnings` from the compiler are displayed in `stdout` instead of `stderr`.
We have a `Util.stderr`, would someone be unhappy if I move those to the proper output ?

[2016-02-08 18:31] nikswamy commented on #473
Removing 'seq.fsi' probably broke several clients, or at least slowed down their verification greatly.

[2016-02-08 21:45] msprotz opened #482 "Wrong error message related to MkTuple2"
If I use the wrong syntax for product types, I get:

[code]

by doing:

[code]

This could be improved.

[2016-02-08 22:16] msprotz commented on #294
Closing this since I now distribute opam for windows along with the installer + an fstar opam package.

[2016-02-08 22:16] #294 closed

[2016-02-09 05:02] nikswamy commented on #473
It would be good to have some non-functional tests also, e.g., checking that verification time didn't blow up because of nuking seq.fsi.

[2016-02-09 06:47] beurdouche commented on #473
Yes, it would be a good idea. I probably didn't see the verification time increase because some parts of `examples/metatheory` and `examples/wysteria` where already blowing up very often on my machine because of `z3` timeouts. Do you see get problems except for eventually those ?

[2016-02-09 17:23] msprotz commented on #159
It mysteriously started working on my machine too after it had been failing for a while... and I'm completely incapable of figuring out why?!

[2016-02-09 22:10] nikswamy commented on #159
I've since rebuilt my machines multiple times and this "make -C src" continues to work well for me.

[2016-02-10 00:31] msprotz opened #483 "Master issue tracker for miTLS extraction"
This meta-issue sums up all the sub-issues that I'm encountering on my branch trying to extract all of miTLS.
- [ ] **(worked around)** two functions that return `bytes`; the `bytes` type has been marked as `opaque` by myself in my last F\* commit; the functions have no type annotation; somehow, the type annotation in the generated code talks about `seq uint8` instead of the type `bytes` that shou

[2016-02-10 01:07] msprotz commented on #483
### About `FStar.Heap.fst`

Two sub-sub-issues.
- `type heap` should be `assume type heap`, correct?
- here's the generated code that contains a wacky reference to `FStar_Heap_Ref`:

[code]

This should be without `FStar_Heap_Ref.a`, i.e.:
[code]

[2016-02-10 01:10] msprotz commented on #483
### Issue with unification variables and implicit term arguments

Working around all the issues, I get to a point where:

[code]

is extracted to

[code]

which the issue we talked about earlier.

[2016-02-10 05:47] nikswamy commented on #483
This last issue is fixed now. Inasmuch as it now produces type and functionally correct, if very inefficient code. We really should normalize more before extraction.

[2016-02-10 15:14] ckeller opened #484 "Failed to solve the sub-problem ... Failed because:free-variable check failed on a non-redex"
After minimizing, I get this issue.

F\* is fine with the following definition:

[code]

But if I replace "Tot" with "ML":

[code]

F\* complains:

[code]

It looks similar to issue #419 , though the reason is different.

[2016-02-10 21:42] nikswamy commented on #483
### Issue with unresolved implicits causing extraction to crash

Here below is a minimized version of the problem from `Content.fst`.

If you check it with `fstar --codegen OCaml test.fst` it fails safely with an error:

[code]

If, however, you provide the `--lax` flag (as is done in make tls-gen), then the check for the unresolved implicit argument is bypassed and we go straight to (unsafe) code

[2016-02-11 00:07] msprotz opened #485 "Generate mli's from .fst files in lib/"
Right now, the files in `lib/ml` are not kept in sync with the corresponding `fst`'s. For instance, `FStar_List.ml` does not implement `tryFindT`; `FStar_String.ml` had a wrong signature for `make`, and so on...

We could have a special mode for extraction where we extract `mli`'s for all these files into the `lib/ml` directory, rather than wait until extraction-time to figure out that things are

[2016-02-11 00:13] msprotz commented on #485
[code]

[2016-02-11 01:41] msprotz commented on #483
Ok, I successfully extracted and compiled everything. I still can't drive the record layer because there's some missing bits but at least everything builds and runs.

[2016-02-15 07:33] catalin-hritcu opened #486 "make -C examples/crypto rpc-test (part of regressions) fails with extraction problem"
It seems there is an extraction problem with `examples/crypto/rpc.fst` (part of regressions):
[code]
Looking at the generated code in `RPC.ml`, it seems that indeed `reqresp` is not extracted, but then used:
[code]

[2016-02-15 07:34] catalin-hritcu commented on #486
... used as an argument to `Prims.unit`, which anyway takes no arguments

[2016-02-15 08:45] beurdouche commented on #478
Closing as documented in
https://github.com/FStarLang/FStar/wiki/Dealing-with-F%E2%98%85-dependencies

[2016-02-15 08:45] #478 closed

[2016-02-15 08:53] beurdouche opened #487 "Generating the OCaml version of the compiler fails on OSX"
`make ocaml -C src`
This fails on my machine with error :
[code]
My version of `bash` is :
[code]
Here is the full log :
[code]

[2016-02-15 08:58] catalin-hritcu commented on #487
No such problem on Linux, with the same version of `bash`.
[code]

[2016-02-15 09:01] beurdouche commented on #487
@nikswamy, ok, so our speculation on `bash` was wrong.
@catalin-hritcu, what are your versions for `head` and `tail` ?

[2016-02-15 09:02] catalin-hritcu commented on #487
GNU coreutils 8.25:
[code]

[2016-02-15 09:23] beurdouche commented on #487
It is not, `coreutils` either, I have the same version as you have...

[2016-02-15 09:36] beurdouche commented on #487
Ok, I've made progress by adding parenthesis on a variables at line 39 and 40...
Now I have an error on the generated FStar.Formats.fst file :
`fstar/src/boot_fsts/FStar.Format.fst(97,2-97,2): Syntax error`

[2016-02-15 10:30] beurdouche commented on #374
I believe this to be fixed since everything is using `--auto-deps` now.
Closing, feel free to reopen if necessary

[2016-02-15 10:30] #374 closed

[2016-02-15 10:45] beurdouche commented on #359
Those errors do not exist anymore.
Closing.

[2016-02-15 10:50] beurdouche commented on #356
I believe this is not a problem anymore. Can someone please confirm before I close ?

[2016-02-15 10:53] beurdouche commented on #365
This does not apply anymore in neither OCaml nor F# versions :
[code]

[2016-02-15 10:53] #365 closed

[2016-02-15 10:56] beurdouche commented on #330
@msprotz, @catalin-hritcu : Is it still the case ?

[2016-02-15 11:14] beurdouche commented on #272
`build-config` headers do not exist anymore and `auto-dep` works fine now.
Closing

[2016-02-15 11:14] #272 closed

[2016-02-15 11:20] beurdouche commented on #240
`Build-config` does not exist anymore.
Closing

[2016-02-15 11:20] #240 closed

[2016-02-15 11:50] #487 closed

[2016-02-15 11:53] s-zanella commented on #487
@beurdouche: let me know if this fixes it for you.

For information, grep was the culprit.
In particular, the `-r` option makes BSD grep echo filenames. This flag doesn't seem to be necessary here.

[2016-02-15 13:05] beurdouche commented on #487
@s-zanella. Great ! Everything is fine now... Thanks ;)

[2016-02-15 13:22] beurdouche commented on #41
@nikswamy. I believe you changed this a few days ago ? Is the issue still relevant ?

[2016-02-15 15:01] beurdouche commented on #336
I have fixed it for the F# version in the following commit :
https://github.com/FStarLang/FStar/commit/7a2635ca1161658afba5736bfc0051185ec1fc04

It seems that the patch is not suffisant for the OCaml backend because it seems to call `z3` earlier in the the execution of F*

[2016-02-15 17:54] beurdouche commented on #401
Build configs are not parsed anymore.
Closing

[2016-02-15 17:54] #401 closed

[2016-02-15 18:47] s-zanella commented on #486
Rather, `Prims.unit` is a parameter of `reqresp`.
Defining `type 'a reqresp = unit` would work.

A self-contained example of why extraction fails:
[code]
The last definition gets extracted to `let x : param t = foo ()`. So `param` is erased to `()` as a value but still creeps into the type annotation.
Maybe this can be solved in the universes branch using some other qualifier for `param`?
Also if

[2016-02-15 19:23] s-zanella commented on #356
I confirm this can be closed.
The issue has become moot because `build-config` blocks are no longer interpreted.
Regardless, I tried reproducing this using the command-line and interactive modes and they both consistently report the same error, as expected.

[2016-02-15 19:23] #356 closed

[2016-02-15 19:50] catalin-hritcu commented on #486
Thanks @s-zanella. There is a similar problem (probably) with `cnt-protocol.fst`:
[code]

[2016-02-15 19:52] s-zanella commented on #486
Looks like the same problem. Looking at it.

[2016-02-15 20:23] s-zanella commented on #486
Fixed. Patched the rest of the crypto examples to use automatic dependencies too.

[2016-02-15 20:23] #486 closed

[2016-02-16 04:25] cpitclaudel commented on #272
Woops, this totally fell off my radar on the `fstar-mode` side. I still need to push an update, right?

[2016-02-16 10:04] catalin-hritcu commented on #486
@s-zanella Thanks for fixing the regressions. Still, in the end those are just workarounds. Where should we track the extraction problem in https://github.com/FStarLang/FStar/issues/486#issuecomment-184344127 though?

[2016-02-16 14:41] s-zanella opened #488 "Extracted code references undefined type"
[code]

The last definition gets extracted to `let x : param t = foo ()`, but the type `param` is undefined.
Note that `param` is erased to `()` as a value in the definition of `x`, but still creeps into the type annotation.

Maybe this can be solved in the universes branch using some other qualifier for `param`?

Note that if extraction normalized more, it could use `bool` instead of `param t`. I

[2016-02-16 14:42] s-zanella commented on #486
Good point. Raised a new issue to track this.

[2016-02-16 14:49] s-zanella commented on #386
Can't reproduce anymore.

[2016-02-16 14:49] #386 closed

[2016-02-16 19:54] msprotz commented on #330
yes

[2016-02-16 19:59] msprotz commented on #272
https://github.com/FStarLang/FStar/wiki/Dealing-with-F%E2%98%85-dependencies I documented the auto-deps feature extensively; I believe everything should still work "out of the box", but now there's a couple restrictions. You could conceivably do some pre-processing in the Emacs mode to give a friendlier error message (e.g. file has not yet been saved to disk; write your "opens" then save it?)

[2016-02-16 20:14] cpitclaudel commented on #272
Ah, cool. Does this mean that https://github.com/FStarLang/fstar-mode.el/issues/28 isn't relevant anymore?

[2016-02-18 19:13] beurdouche commented on #480
Done by Jonathan in https://github.com/FStarLang/FStar/commit/db76017fc4ec7aaf1e3fe40dafc93905645bdf6c

[2016-02-18 19:13] #480 closed

[2016-02-19 09:03] catalin-hritcu opened #489 "Inconsistent assumptions with boot-ocaml even after make clean and some manual cleanup"
Running `make test` [updated] in `src` fails like this for me even after doing `make clean` in `src`:

[code]

Tried a manual `make clean` in `lib/ml`, but even that didn't fix it [updated] and it anyway doesn't seem like the best workflow in general. Probably related to @msprotz latest improvement.

[2016-02-19 09:59] beurdouche commented on #489
I don't have this problem. Can you try that from a fresh repository or after a cleanup using `git` ?

[2016-02-19 10:59] catalin-hritcu commented on #489
Sorry for filing this in a hurry. Some of the information I gave initially wasn't correct: First, I had to run `make test` in `src` to trigger this (`make`, `make ocaml`, and even `make regressions` in `src` don't trigger this). Second, `make clean` in `lib/ml` didn't really fix it. Updated this above.

Looked into it a bit deeper, and the problem is in the `boot-ocaml` target in `src/Makefile`:
h

[2016-02-19 11:08] catalin-hritcu commented on #489
Tried again and the previously clean clone fails to *the 2nd time*, with a different error:
https://gist.github.com/catalin-hritcu/c9216c0d80beb72718c1
[code]

[2016-02-19 11:44] catalin-hritcu commented on #489
Actually the clean clone got so confused that now even `make regressions` no longer works:
[code]

[2016-02-19 17:04] msprotz commented on #489
hmm I'm confused I did check that regressions were working yesterday

do you have a fresh clone? or did you run `git clean -fdx` in there?

[2016-02-19 17:31] msprotz commented on #489
I've created a wiki page to list the many Makefile targets you can use when running tests (see https://github.com/FStarLang/FStar/wiki/The-many-Makefile-targets); feel free to add your own unknown make invocations :).

[2016-02-19 18:05] msprotz commented on #489
Ok, so I couldn't reproduce on a fresh clone, because I got an earlier error (the infamous: The type initializer for '<StartupCode$FSharp-PowerPack-Compatibility>.$Microsoft.FSharp.Compatibility.OCaml.Sys' threw an exception). Trying on my Linux machine...

[2016-02-19 18:13] msprotz commented on #489
Just tried out `make test` on a fresh clone on my Linux box. No issues...

[2016-02-19 18:46] catalin-hritcu commented on #489
Fresh clone worked for me too, but only the first time. Try running `make ocaml-test` again now.

[2016-02-19 20:42] msprotz commented on #489
worked fine for me too...

[2016-02-19 22:38] catalin-hritcu commented on #489
Not sure what to say. Maybe we can try debugging this together on my machine via Skype + screen sharing, but I have no time for this until Thursday. Unless someone else has problems I think it's fine to just leave this for now.

[2016-02-19 23:07] nikswamy opened #490 "Extraction bug in points-free style type abbreviations"
Extracting this with --codegen OCaml fails with

[code]

[code]

[2016-02-19 23:19] msprotz commented on #489
Ok. The manual cleanup you did with your `find` invocations is not enough: if you're still in an old source tree, you need `git clean -fdx`

[2016-02-22 12:29] mtzguido commented on #349
I believe this is a consequence of having a projection operator for type constructors (so, I x = I y ==> I_f (I x) = I_f (I y) ==> x = y). Seems that both data and type constructors are encoded via the same function (`constructor_to_decl`) which introduces the projector.

Could a fix be only generating such projector for data constructors and not for type constructors? A small test shows that `lib

[2016-02-22 14:40] mtzguido commented on #349
Looking more closely, that all breaks down as soon as we type a term with `I x`. Inversion gives us that it's of the form `Mk z` with `z = x`, but since it also has type `I y`, the same applies for y and then `x = y`. The paradox still holds after a small tweak.

So it's a consequence of unrestricted inversion and typing elimination. As Nik suggested, maybe typing elimination should be restricted

[2016-02-22 23:55] GKerfImf opened #491 "Classes and Structs in F*"
Hello,
If there are Classes or Structs in F*? For I'm trying to translate the following code:
[code]
and I have no idea, how to implement constructor.

[2016-02-24 05:54] nikswamy commented on #491
F\* does not provide any primitive support for object-oriented features.

You can encode something like this in various ways. For example:

[code]

But there are many other styles one could adopt too.

[2016-02-24 05:54] #491 closed

[2016-02-24 14:52] VincentCheval opened #492 "Documentation for declaration of infix function"
Hello,

I've looked over the github and there were some old posts talking about the declaration of infix operator (like @ \* + - ... or sequence of these) but I did not quite get if it was implemented or if it is under development. I'd be very grateful if someone could give the syntax to declare infix operator if it is possible.

Thanks
Vincent

[2016-02-24 15:07] jkzinzindohoue commented on #492
It is implemented, though not documented as far as I know.
The list of usable symbols shall be something like (from the sources):
[code]
The way to declare them is to name the operator `op_` + a combination of those names above separated by underscores, e.g. `let op_Hat_Plus x y = x + y` can be used to write `x ^+ y`.
It is usable immediately after declaration.
In my experience some of the symbols

[2016-02-24 15:18] beurdouche commented on #467
This wasn't a really a bug. Closing

[2016-02-24 15:18] #467 closed

[2016-02-24 15:25] VincentCheval commented on #492
Thanks a lot !

[2016-02-24 15:58] msprotz commented on #492
Probably consistent with the first answer in http://stackoverflow.com/questions/6150551/ocaml-why-i-cant-use-this-operator-infix

[2016-02-25 09:12] VincentCheval opened #493 "Curried function, but not total"
Hello,

I don't understand why this code does not work:

[code]

It gives me the following error:

[code]

I checked on the github and I found similar problem with solutions: #209 and #375. However, when I applied these solution, the problem persists.

[code]

It gives me the error

[code]

Best,
Vincent

[2016-02-25 09:46] jkzinzindohoue commented on #493
I think F* needs an extra type annotation to bind the variables properly. The following works:
[code]
The binders in the type declaration are probably relevant only for the type declaration and not for the let binding.

[2016-02-25 15:56] nikswamy commented on #493
Thanks for the workaround, JK.

I'm surprised by this behavior. I'm calling it a bug ... I expected Vincent's code to work.

[2016-02-25 16:00] nikswamy commented on #493
Actually, I take that back. This is a quirk in the syntax in the stratified approach of the default checker.

Basically, a good rule of thumb is that if you are using type variables with ' (tick) prefixes, then make sure that they are all of that form. Here you have 't and x ... mixing them leads to strange behaviors like this.

[2016-02-25 16:39] jkzinzindohoue commented on #493
The last example was not using tick prefixes though. I could write
[code]
I did not manage to write it using implicit `(#t:Type)` symbols.
Should we consider that the `'` (tick) notation is the most robust to use ?

[2016-02-25 17:53] nikswamy commented on #493
I would say that the non-tick notation is more robust. I use the tick notation only when writing ML-style code.

Without universes, you can write:

[code]

With --universes, you can write:

[code]

[2016-02-26 14:36] s-zanella opened #494 "Wrong error message for duplicate dependencies"
[code]
Suppose there are two files named `M.fst` implementing M, one in the current dir and another in `lib`
F* gives a confusing error message
[code]
I think there is a use case for having several implementations or interfaces for the same module in different directories, and this shouldn't be a problem as long as there is a convention for resolving dependencies (e.g. files in an include path app

[2016-02-26 14:41] s-zanella commented on #494
It seems that this line (https://github.com/FStarLang/FStar/blob/master/src/parser/dep.fs#L91) compares `existing_file` with its full path against just the basename of `f`.

[2016-02-26 14:43] s-zanella commented on #159
I'm still getting an unsable binary when I build an F# binary using make rather than VS in Cygwin.

[2016-02-26 15:10] nikswamy commented on #159
We suspect that building it once using VS enables future builds via Cygwin/make to succeed ... but not sure.

[2016-02-26 16:20] catalin-hritcu opened #495 "Less ambiguous F* syntax (if breaking F# compatibility)"
---------- Forwarded message ----------
From: Catalin Hritcu catalin.hritcu@gmail.com
Date: Mon, Feb 15, 2016 at 11:58 AM
Subject: Re: [fstar-priv-club] Better parsing errors with Menhir
To: Cedric Fournet fournet@microsoft.com
Cc: "fstar-priv-club@lists.gforge.inria.fr" fstar-priv-club@lists.gforge.inria.fr

Maybe in some cases stronger parsing technology could indeed help, but
there are many pro

[2016-02-29 08:04] VincentCheval commented on #493
Thanks for all these answers. It works well with this trick of @jkzinzindohoue

[2016-02-29 08:11] VincentCheval opened #496 "[Help, Bug ?] Problem to prove a simple equality"
Hello,

I'm having a problem to prove a simple lemma. Here is the code:

[code]

The function `order_term` is there to ensure that F* can prove that `vars` is a total function. However, I don't understand why F* is not able to prove `lemma_test`. The equality `vars t = fold_left (fun t' -> order_term t' << order_term t) t (fun acc t' -> Set.union acc (vars t')) Set.empty` corresponds exactly to th

[2016-02-29 10:47] VincentCheval commented on #496
The problem definitely comes from the recursive call of `vars` in the function `fold_left`. I changed a bit the function `vars` to make it simpler as follows:

[code]

And in that case, the code can be verified. So it's the call `vars t'` that is problematic... but I still don't know why.

Vincent

[2016-02-29 10:54] VincentCheval commented on #496
I minimized a bit more the code:

[code]

With this, I get the error `post-condition at Test.fst(19,12-19,77)
Error: 1 errors were reported (see above)`

[2016-02-29 16:12] nikswamy commented on #496
What you're observing is a side-effect of F\*'s encoding of recursive functions in Z3. When encoding the definition of `let rec vars`, the occurrence of `vars` on the RHS is not encoded as `vars` itself, but using a variant `vars'` that is instrumented with less fuel for recursive calls. As such, as far as Z3 is concerned, the equation you're trying to prove does not hold.

Typically, when the rec

[2016-02-29 16:25] VincentCheval commented on #496
Thanks for the answer. It's not urgent don't worry. End of the week will be perfectly fine!

I was not aware of the --universes mode. Following #357, it seems that it only requires me to add some `reduce` key-word when I need. Is there other modifications from the usual code ? (When you say switching to --universes, I'm guessing there is more to it 😊 ). From the github, I saw that there is a unive

[2016-02-29 16:30] nikswamy commented on #496
I meant end of the week if it is urgent. If not, this feature will remain on its current priority, which will probably be more like in 1 month's time.

The universes branch is now merged into the master. It's a still experimental predicative version of F\*, although it is working reasonably in many cases already. In order to use it, you have to provide the --universes flag, which will switch to us

[2016-02-29 16:41] VincentCheval commented on #496
I see. I'll switch to the universes flag and try to make my current code work. If this --universes mode bring lot of nice new features, the sooner I learn about it, the better ! And concerning my current problem I'll work around it by working more at low-level while I wait for this new feature to go online. I don't want to change your schedule.

[2016-02-29 17:47] VincentCheval commented on #496
Mhmmmm You were not joking when you say it would be quite brave... I think I will stick to the old version until there is some documentation :)

[2016-03-01 10:00] beurdouche opened #497 "OCaml build parallelisation breaks compilation"
@msprotz. I removed OCaml build parallelisation (d47d677) because it was breaking compilation.
It would be nice if we can restore it  ;)

Happened only from a fresh repository when `make -C src/ocaml-output` :
[code]

[2016-03-01 15:35] markulf commented on #314
@catalin-hritcu @s-zanella what's the status of this? Can we close it?
Tests run correctly. How did we resolve integer extraction? We verify with mathematical integers but extract using native int as --use_native_int is set? ok, as verification guarantees that there are no overflows?

[2016-03-01 15:46] s-zanella commented on #314
I don't know if we verify that all integers computations are within bounds, probably not.
We extract with native integers and it runs, so fine to close this inasmuch as the issue in the title has been resolved.

[2016-03-01 15:57] nikswamy commented on #314
I'm pretty sure we don't verify the absence of overflows.

To do that, we'd have to use FStar.Int32 or a similar library, instead of using Prims.int.

[2016-03-01 16:32] markulf opened #498 "Improve crypto modules in `examples/crypt` and tutorial"
`rpc.fst` and `CntProtocol.fst` verify, model different agreement properties, and extract and run.

`mac.fst` verifies but does not have a concrete implementation. In particular this means that rpc.fst can only be run in a single process for now.

`Sig.fst` does not model concrete signatures correctly, e.g. if verification key is not honestly generated signatures should be verified concretely. Mor

[2016-03-01 16:33] markulf commented on #498
@catalin-hritcu

[2016-03-01 18:32] catalin-hritcu commented on #349
We tried this in Coq and it indeed seems to be the fault of "typing elimination". In this case typing elimination gives us *heterogenous* injectivity of `Mk`, from which we can obtain type constructor injectivity:
[code]
So the second fix to this implies restricting "typing elimination". @nikswamy should we start thinking about how to fix these things? :)

[2016-03-01 21:14] beurdouche opened #499 "Tuple types in records are wrongly inferred as terms instead of type when the identifier is not in scope"
[code]

As type `a` is not in scope, this should fail with : `Identifier not found: [a]`

Instead it fails with : `The operator "*" is resolved here as multiplication since "a" is a term, although a type was expected`

It's an error message issue but I think F\* could recognise that `(a * a)` is a type.

[2016-03-01 21:18] beurdouche commented on #499
Note that this is not happening with `--universes`

[2016-03-02 05:59] nikswamy commented on #349
My default plan was to exclude the problematic injectivity axiom in the Z3 encoding for --universes. But, if you have a better solution by restricting elimination somehow, then sure let's "start thinking about" it. Looks like you guys have already made a nice start, actually : )

[2016-03-02 07:50] catalin-hritcu commented on #349
Unfortunately, there is no injectivity axiom directly assumed in the Z3 encoding (or at least we couldn't find any). Instead, there are at least two "features" of the encoding that allow Z3 to *prove* injectivity: (1) projection operators for type constructors (https://github.com/FStarLang/FStar/issues/349#issuecomment-187152377), and (2) unrestricted "typing elimination" (https://github.com/FStar

[2016-03-02 14:49] nikswamy commented on #349
We encode all injectivity properties using projectors. So, I see the projection operator for type constructors _as_ the injectivity axiom.

Let's talk ...

[2016-03-03 09:32] gsvgit opened #500 "Problem with simple arithmetic."
I use https://www.fstar-lang.org/tutorial/

The next code works fine.
[code]

But if I replace '+' with '-' in type refinement, then I get an error.
[code]

Error:
[code]

Such behavior is a bit strange for me.

[2016-03-03 10:13] jkzinzindohoue commented on #500
The issue is related to the way the proposition under the quantifier is instantiated: the solver needs a trigger to instantiate it.
Here, because no trigger has been provided in the code, the behavior is a bit unpredictable. In practice it seems that the trigger is something like `w-1`:
[code]
works. Now in your specific example it is not obvious what the appropriate trigger should be.
It could be

[2016-03-04 14:13] beurdouche commented on #497
This should be fixed by https://github.com/FStarLang/FStar/commit/a519b1e26b7d5f8bd5b405a67c6d9e40175fdb8c.
Closing.

[2016-03-04 14:13] #497 closed

[2016-03-07 15:15] jkzinzindohoue opened #501 "Feature request: pragmas and replacement of build-config"
Since the build-config has been removed I feel like there has been no proper replacement for some of its features, or I do not know about it.
Specifically it used to provide great customization possibilities in interactive mode via the  `options` line.
Using the latest F* version I can no longer (in interactive mode):
- set a custom timeout for each file
- set some debugging features (e.g. --print

[2016-03-07 15:18] beurdouche commented on #501
+100
I really think that we lack those features to be efficient in producing a large amount of verify code.

[2016-03-07 15:52] catalin-hritcu commented on #501
I think the right way to bring back this functionality is via pragmas. There is already an issue on allowing any non-security-critical option to be set in pragmas (#439).

[2016-03-07 16:05] jkzinzindohoue commented on #501
Such pragmas would be great.
It is too bad that introducing `auto-deps` led to removing useful features. It feels like taking a step back for the interactive mode.

[2016-03-07 17:42] msprotz commented on #501
I don't think so but I think it's a valid feature request. Thoughts?

[2016-03-07 17:49] msprotz commented on #499
Nik and I had a discussion about it, and this is fixed in `--universes` as follows:
- * is always resolved as the tuple operator
- if you want to use the multiplication, use × (the unicode multiplication character)

This is pending a lexer switch for the ocaml part, because ocamllex has no utf8 support and we probably want to switch to sedlex (no ulex because camlp4 is going away). @beurdouche if

[2016-03-08 04:37] nikswamy commented on #501
@jkzinzindohoue  The functionality is still available for interactive mode via the fstar-subp-prover-args variable of the emacs mode.

I agree that controlling all non-security-critical compiler options via pragmas should be supported.

Adding --verify_module X for the current file in interactive mode is a good idea.

[2016-03-08 17:32] mlr-msft commented on #499
Will there be a means to specify multiplication without requiring unicode characters?

[2016-03-08 17:35] msprotz commented on #499
I think the problem only happens in types IIRC, and you can always get multiplication by using a fully qualified name.

[2016-03-09 06:30] gsvgit commented on #500
Thanks.

[2016-03-09 06:30] #500 closed

[2016-03-10 18:03] GKerfImf opened #502 "Failure "Name not found: op_Negation""
Hello.
For the following code:
[code]
I get an error message:
[code]

[2016-03-10 22:32] nikswamy opened #503 "Extraction of record projections with implicit parameters fails"
This code incorrectly extracts to OCaml.

[code]

The issue is that the `y.t1` is actually a `project_t1 #x y`, but extractions tries to be too smart and prints it as `(x.t1) y`, which is of course incorrect.

[2016-03-11 00:07] #503 closed

[2016-03-16 18:20] mlr-msft opened #504 "Regression suite cannot be run twice without being cleaned first."
If you run the following command twice:

`make -C src regressions OTHERFLAGS=--lax`

The following error occurs:

[code]

It becomes necessary to then run `git clean -fdx`, rebuild F*, and re-run the regression suite in order to succeed.

[2016-03-17 16:04] nikswamy opened #505 "Work items for the universes release"
**Relatively independent items that could be picked up by others**:
  - [ ] Migrate the ocaml version to use sedlex with unicode support for lexing (F# version already supports it). Allow the use of unicode identifiers and infix operators. Use \times for multiplication.
  - [x] Fix extraction of try/with to really use OCaml's try/with rather than FStar.All.tryWith. The current extraction causes pa

[2016-03-22 15:40] nikswamy commented on #250
Closed with --universes

[2016-03-22 15:40] #250 closed

[2016-03-24 22:08] nikswamy commented on #501
cf. 0b4d9b8: allowing reset-options with arguments to control parameters like z3timeout via pragmas - Nikhil Swamy
16a2f8b: snap - Nikhil Swamy
e2bd1eb: merging and re-snap - Nikhil Swamy
36ae901: removing spurious #set-options "--z3timeout n" in various places ... these were not being honored anyway. if you want to set the timeout, you need to use #reset-options "--z3timeout n" - Nikhil Swamy

[2016-03-24 22:08] #501 closed

[2016-04-03 11:09] ahmadsalim opened #507 "Request for a 'subgoal' feature"
So after some helpful discussion with @catalin-hritcu on the mailing list on how `F*` novices like me could use `assert`, `assume` and `admit` to guide the semi-automated prover, I have gotten the idea that something like a `subgoal` feature might be useful.

The simplest implementation, would have `subgoal G` be equivalent to `assert G; assume G` which would essentially only be an annotation if e

[2016-04-03 20:14] catalin-hritcu commented on #507
It's an interesting idea we could try out at some point. Wouldn't hold my breath though :)

[2016-04-04 08:48] ahmadsalim commented on #507
OK, thank you for the consideration.
I understand that since this is a request for a convenience feature, it is nowhere near your top priorities.

[2016-04-06 20:07] YaakovDavis opened #508 "assert fails in the online editor"
The following snippet, taken from the tutorial, fails to compile in the online editor:
`assert (max 0 1 = 1)`

[2016-04-06 20:35] catalin-hritcu commented on #508
Indeed, this is confusing. There is no such thing as a top level assert statement in F*. You can only this within a top-level let definition.

[2016-04-06 20:37] YaakovDavis commented on #508
Thanks.
What is the typeof such an expression?

Also, is there a way to print the type of an expression (either in the online editor, or in a compiled program)?

[2016-04-06 20:45] catalin-hritcu commented on #219
Also see the `printType e` idea in https://github.com/FStarLang/FStar/issues/27#issuecomment-77545198

[2016-04-06 20:46] catalin-hritcu commented on #508
Result type `unit`, but with a strong pre-condition.

For top-level definitions there is `--log_types`. For non-top-level things unfortunatelly we have nothing at the moment AFAIK, but it's on our list (see #219 and https://github.com/FStarLang/FStar/issues/27#issuecomment-77545198).

[2016-04-06 21:02] YaakovDavis commented on #508
It would be nice to have it indeed :)

[2016-04-06 21:02] #508 closed

[2016-04-07 16:06] nikswamy opened #510 "Restricting equality to be less polymorphic than it is"
We should implement something like this:

[code]

[2016-04-07 16:44] nikswamy commented on #51
Sorry, missed this one. Would be good to revive discussion about this feature. Discussing it here with @jkzinzindohoue  also

[2016-04-07 17:08] msprotz commented on #510
Seems like basic type classes. JK reported a problem where polymorphic equality of bigints doesn't work; can we do something like:

[code]

So that the programmer can not only specify which types are comparable, but also specify a comparison function.

[2016-04-07 19:11] aseemr commented on #510
We would also need a ghost version of op =, that allows logical reasoning about equality of types excluded by HasEq (such as arrows).

[2016-04-08 14:42] YaakovDavis opened #512 "Kind system vs. Lean's universes"
How does F*'s kind system compare with Lean's universes system?
What are the pros and cons of both approaches in terms of expressiveness, verifiability, etc?

[2016-04-08 15:00] nikswamy commented on #512
The kind system of F\* is on the way out. The master branch now provides support for a '--universes' option. This provides universe polymorphism that's very similar to what Lean provides (in fact, our design was inspired by Lean's). The next release of F\* (anticipated in a few weeks) will make this --universes mode the default. While we don't have very much documentation of this new feature yet,

[2016-04-08 15:08] YaakovDavis commented on #512
Great info, thanks.

[2016-04-08 15:08] #512 closed

[2016-04-08 18:45] YaakovDavis opened #513 "Error when building on Windows"
I followed the instructions [here](https://github.com/FStarLang/FStar/blob/master/INSTALL.md).
The last step is failing due to the following error:

[code]

I have the latest revision (master).

[2016-04-08 20:22] YaakovDavis commented on #513
Apparently ocamlfind is missing. Tracking down the install process, I found that `opam-depext`'s installation fails:

[code]

Your help will be appreciated.
I have a Win10 64-bit machine

[2016-04-08 20:32] msprotz commented on #513
install m4 using cygwin's package manager, perhaps?

[2016-04-08 20:38] YaakovDavis commented on #513
That solved it, thanks!

[2016-04-08 20:38] #513 closed

[2016-04-08 20:52] catalin-hritcu commented on #510
If there was a #needs-metatheory tag this would be a great candidate. Type theory and very a fuzzy notion of equality don't really mix.

[2016-04-08 20:53] catalin-hritcu commented on #510
@aseemr  You might be talking about `==`, F*'s strangely heterogenous equality?

[2016-04-08 21:33] beurdouche commented on #481
Done, thanks to @mlr-msft !
https://github.com/FStarLang/FStar/commit/9cda34c7bbfcf0571b98ec72acff42acb37cc914

[2016-04-08 21:33] #481 closed

[2016-04-12 21:44] s-zanella opened #514 "Char 255z causes Z3 to terminate early, raises Unexpected error"
This strange bug causes Z3 to terminate early and produce no output, while F\* expects to read an answer to a query.

[code]

[code]

For more insight, use `--log_queries` and compare the logged query when using `0z` instead of `255z`.

[2016-04-12 23:00] jkzinzindohoue opened #515 "Extraction of machine integers"
Hi everyone,

Here is a summary of our last discussion with @protz @nikswamy and @aseemr regarding machine integers:

# Factoring the specification in a single file

Rather than actually rewriting N times the specification for the same operators, one for each signed and unsigned integers of each size, the plan is to encode everything in a single file.
That would lead to base types for signed and u

[2016-04-12 23:39] msprotz commented on #515
Zarith is done.

[2016-04-12 23:47] jkzinzindohoue commented on #515
Had not seen that, I will edit, thanks !

[2016-04-13 00:22] jkzinzindohoue opened #516 "Issue in universe inference"
I have the following snippet:

[code]

Without the `Type0` annotation, this code fails to typecheck with

[code]

With the annotation uncommented it goes through, but then if I write a second module

[code]

it fails with

[code]

while if I typecheck

[code]

with

[code]

it actually works.

[2016-04-13 14:26] nikswamy commented on #510
@msprotz : For the record, as per our discussion, `HasEq f` is even trickier, since we would need `f` to coincide with the language's logical notion of equality. We agreed on my original post.

[2016-04-13 18:23] jkzinzindohoue opened #517 "val declaration + let works differently from the new `let (x:t) : M b` notation"
In the following snippet, the first `add` function typechecks, but not the second while I would expect the two to be equivalent.

[code]
On `add'` F* returns `test.fst(8,39-11,6): could not prove post-condition`

[2016-04-15 11:22] catalin-hritcu commented on #51
Let me know if I can contribute more than just reiterating that this would be a great feature to have :)

[2016-04-20 10:26] jkzinzindohoue opened #518 "&& too eagerly lifted to /\"
The following code fails to typecheck:

[code]
It gives `Expected a ghost expression;
got an expression "(Prims.op_Equality (FStar.ST.read x) 1)" with effect "FStar.ST.STATE"`
After some testing, it seems that it is seen by F* as if the boolean expression was actually `read x = 1 /\ read x = 1` or `b2t(read x = 1 && read x = 1)`.
In the stratified branch it worked.
And the following also works as

[2016-04-20 14:19] nikswamy commented on #518
This is a known limitation, arguably by design. See Section 5 of the wiki page here: https://github.com/FStarLang/FStar/wiki/Migrating-code-to-use-the---universes-mode-(particularly,-as-related-to-mitls-fstar)

[2016-04-20 14:20] nikswamy commented on #518
Your workaround is ok, but you will not get the expected short-circuiting semantics.

[2016-04-20 15:50] nikswamy opened #519 "Interactive mode weirdness"
***This is a meta-issue for tracking all unusual behaviors that we observe in the interactive mode. ***

Reproducing these weirdnesses has been hard. So, if you see some such behavior, it would be great if you could spend a little time trying to extract a reproducible test case from it.

The way to do that is:

1.  In your .emacs
`(setq fstar-subp-prover-args '("--universes"  "--debug" "yes"))`

T

[2016-04-20 15:59] jkzinzindohoue commented on #518
Sorry.
I have now read that wiki page thoroughly so that I can stop complaining about documented things. Closing for now.

[2016-04-20 15:59] #518 closed

[2016-04-23 02:02] protz opened #520 "Various issues on osx"
- When I hit `make` from the `src` directory, the parser is rebuilt everytime
- I would argue for fstar-mono.sh to add a `--debug` argument by default to the invocation of `mono`; it took me a while to figure out why I had backtraces without line numbers...

@beurdouche thoughts?

[2016-04-27 19:39] eloraiby opened #521 "Add extraction to C/C++"
What is the state of the C extraction branch ? c-extraction2 seems to have some activity.

Is it possible to have the road-map/progress shown somewhere ?

[2016-04-28 08:47] jkzinzindohoue commented on #521
F* is moving from a stratified type system to universes.
The c-extraction2 branch was a prototype to experiment compilation from a subset to F* to C, using the stratified AST. As F* is moving away from it this branch will be deleted. It is not worth it currently to port it to the universes AST.

However we are working on designing and implementing this extraction to C properly in the master branch

[2016-05-02 03:13] nikswamy commented on #521
We also plan a backend to C++ that will support the full language. Probably in the 6 months timeline.

[2016-05-02 16:21] eloraiby commented on #521
Good to know. Are there any road-map/task descriptions so someone could contribute ?

[2016-05-03 18:23] mlr-msft commented on #159
`make -C src test` fails consistently on my Windows machine.

furthermore, the use case where one checks out the git repo, build the OCaml snapshot (`make -C src/ocaml-output`), and attempt to run the regression suite (`make -C src regressions`) now fails consistently, from what i can tell.

if i build F* with Visual Studio, it produces `bin/tests.exe`. the regression suites run.

unfortunately, `

[2016-05-04 03:21] nikswamy commented on #159
I think a pre-requisite for developing F\* is to be able to build the F#/F\* shared-fragment sources directly using fsc.

a. On a non-windows machine, this seems to work fine with mono.

b. On a windows machine, for most of us, a combination of a build using VS/make -C src does the job.

I don't understand what makes Michael's configuration so different that makes case b infeasible.

[2016-05-04 16:27] msprotz commented on #159
Just to elaborate a little bit on top of Nik's comment:
* our belief is that by fiddling around and i) first building with VS then ii) building with the Makefile, then it is possible for everyone to attain a state where `make` succeeds reliably in building a working F* using `fsc` from the command-line
* the reason why sometimes `make` generates a buggy F* .NET binary has eluded us; neither Nik or

[2016-05-04 20:12] nikswamy opened #522 "Nested patterns, refinements and branches with Tot functions"
Type inference fails incorrectly in this case

[code]

[2016-05-05 12:47] s-zanella commented on #516
I can no longer reproduce the first part of this bug: module Test now typechecks evenwithout the universe annotation. The second issue, typechecking Test2 without the annotation in Test1 is still open.

[2016-05-05 13:03] s-zanella opened #523 "Fail or warn on meaningless qualifier combinations"
I would like F* to fail or at least emit a warning when lax typechecking a file that has declarations or definitions with meaningless qualifiers. This would make the actual meaning of the qualifiers clearer for users. Some things that are currently accepted without warning:

[code]

[2016-05-05 13:26] catalin-hritcu commented on #523
For a start it would be great to document the various qualifiers on the wiki. I don't know what things like `abstract`, or `private`, or `irreducible`, do. Since you're already one step ahead on this, do you want to have a whack at documenting it?

[2016-05-05 13:31] s-zanella commented on #523
Sorry, I should have said there's a wiki on this: https://github.com/FStarLang/FStar/wiki/Abstraction,-reduction-and-visibility-of-type-definitions

It hasn't been updated lately and doesn't answer all questions. For instance, it says that `abstract` is mutually exclusive with `private`, but it doesn't say whether it's also mutually exclusive with `assume`. I'm also a bit lost about the semantics

[2016-05-05 13:54] catalin-hritcu commented on #523
Cool. I've just renamed that page so that it's easier to find:
https://github.com/FStarLang/FStar/wiki/Qualifiers-for-definitions-and-declarations

[2016-05-08 20:10] carsten-j opened #524 "How to define a Money data type dependent on time"
In Idris I can define a money data time dependent on time (represented by a double) like this
[code]
Money has a time value to 1 dollar today is not the same as 1 dollar tomorrow. Hence an add function for the money time should only allow adding money for the time time t. In Idris this goes like

[code]
Is there a way to define something similar in F*? And if so can I also use the F# unit of measu

[2016-05-08 21:14] nikswamy commented on #524
Not sure I follow Idris' syntax for this. Is `(time:Double)` a parameter of the `Money` type constructor? Assume so.

In F\*, you can write something similar, except that we currently lack concrete support for the `double` type. We should add it soon (nothing particularly deep about lacking it now, except that it is not done yet).

So, temporarily defining `double` as an alias for `int`, you can w

[2016-05-09 15:38] carsten-j commented on #524
You are right in the assumption. `(time:double)` is a parameter for the `money`type constructor. When I try to compile your suggestion I get an error:
[code]
The error message is rather cryptic and hard to understand. I believe it is related to the add function because omitting that and I compiled without errors. Any ideas about why this fails?

[2016-05-09 16:35] nikswamy commented on #524
Sorry about that.

I tried it using the head revision of F\* from the master branch and it works fine. I guess you're using another version?

[2016-05-09 18:03] carsten-j commented on #524
I am using version 0.9.2.0 from the release page and I am running OSX/mono. Will try to see if I can figure out how to build latest version from the master branch.

[2016-05-09 19:12] carsten-j commented on #524
I got it to work after a bit of hacking. With the lastest version I can get as far as this message from the F* compiler.

However the generated F# file cannot compile without errors. But a few modification to the generated F# file got things running.
Thanks for the help and support.

[2016-05-09 20:17] nikswamy commented on #524
Most of us using F\* tend to use the `--codegen OCaml` option. So, sadly, I'm not surprised that the F\# backend has regressed. If you have a spare moment, a bug report would be most welcome. We'll probably take our time to get to fixing it since getting the F\# backend up to speed again will take a bit of work, but it will be useful to track it.

[2016-05-10 15:58] christophe-calves opened #525 "Print.print_string instead of IO.print_string in the tutorial."
The following line in section 2.3.1 of the tutorial (file [tutorial.mdk](https://github.com/FStarLang/FStar/blob/master/doc/tutorial/tutorial.mdk), line 557 and 564)

[code]

gives the error `Identifier not found: [Print.print_string]`. Shouldn't module `IO` be used instead?

[patch.txt](https://github.com/FStarLang/FStar/files/257604/patch.txt)

[2016-05-10 16:10] beurdouche commented on #525
Indeed it should be `IO`, fixed by 4d562434bb5f299069b1e3da59aa28abeb5edb56
Thank you !

[2016-05-10 16:10] #525 closed

[2016-05-10 16:10] #524 closed

[2016-05-10 17:18] christophe-calves commented on #459
Hi,

 For info, I get the same error on a Linux box with both the last release binaries[1] and when building from source (up to commit 719dec7393b0add07d34a9b2d8581a55877c65de) by the F# build.

[code]

[2016-05-10 17:26] nikswamy commented on #459
I tried the program below with commit 719dec7393b0add07d34a9b2d8581a55877c65de type-checking it like so: `fstar --universes test.fst`. It worked fine.

A couple of points to note:

1. See the wiki for some notes about migrating code the universes mode https://github.com/FStarLang/FStar/wiki/Migrating-code-to-use-the---universes-mode-(particularly,-as-related-to-mitls-fstar). One of the points ther

[2016-05-10 17:26] #459 closed

[2016-05-10 20:40] carsten-j opened #526 "Problems with dockerfiles"
In order to build an image with the dockerfile from the Ubuntu Wliy I ran into a couple of issues.
1. ocamlfind seems to need gmp library so I had to add libgmp3-dev to the list of packages installed by apt-get. `(FIXED)`
2. make targets listed requires zarith package for ocaml so I had to add it to opam install `(FIXED)`
3. The last command in the dockerfile "RUN opam config exec -- make -C src r

[2016-05-11 09:37] sishtiaq commented on #526
Hi @carsten-j, Do you want to make these changes to https://github.com/FStarLang/FStar/blob/master/.docker/ubuntu_wily/Dockerfile and send in a PR?

[2016-05-11 11:50] carsten-j commented on #526
Hi @sishtiaq,

I would like to send a PR but I cannot figure out what make target that creates ../bin/tests.exe

So right now I just commented out the last line in the dockerfile
`# RUN opam config exec -- make -C src regressions OTHERFLAGS=--lax`
and I do not believe this is the right solution to submit in a PR.

If someone can point toward the make target then I will be happy to test and submit

[2016-05-11 12:58] sishtiaq commented on #526
I think src/Makefile's $(BIN)/tests.exe does it.

[2016-05-11 15:42] carsten-j commented on #526
That make target requires the F# compiler so it will not be straightforward to call since the dockerfile do not install the F# compiler. So to fix this the dockerfile will need to install the F# compiler.

[2016-05-16 15:19] protz commented on #526
I think we'd be pretty willing to take a patch to the Makefile that moves `bin/tests.exe` outside of `make regressions`, so that the docker test file can just skip `tests.exe`.

I had it written locally but didn't commit it because there was no strong use-case for it. Let me know if you feel like fixing the Makefile.

[2016-05-16 15:19] protz commented on #526
But #527 seems to take of adding F# into the docker file so perhaps this is not needed.

[2016-05-16 18:45] mlr-msft commented on #159
after examining the differences between how visual studio builds f* and how the gmake `Makefile` attempts to accomplish the same, i've succeeded in getting a working `tests.exe` on windows from the gmake, which runs successfully, so i hope it means that the `fstar.exe` is working as well.

i needed to do the following things in order to accomplish this:
- add the `--noframework` option to gmake's

[2016-05-16 20:00] protz commented on #159
Hey,

@nikswamy and I had a quick chat about it, and we agree that option 2) seems like the best way to go. We would be happy to see the duplication of Makefile-based build and VS-based build go away in favor of a single way to build F* using F#. Furthermore, if we get rid of the Makefile way of doing things, then the mysterious failures where the generated F* executable doesn't run are going to g

[2016-05-16 20:17] mlr-msft commented on #159
right; that is my hypothesis.

f* is complaining, at least on my machine, that it cannot find framework assemblies is depends upon during it's runtime linking stage. i anticipate that msbuild will copy the required assemblies into the `bin` directory, mirroring what visual studio does, which we already know produces good builds of f*.

that's useful to know. thanks.

happy to help out :smile:

[2016-05-17 09:50] bignoncedric opened #529 "Tutorial not working: Unexpected error, Impos: expected String"
Hello,

Since this week-end, the fstar-lang website [tutorial section](https://fstar-lang.org/tutorial/) doesn't work anymore. When executing the code online, the F* output keeps returining:

Even with the "Welcome" code snippet. Or even:
`module Welcome`

If this is not the right place to report this issue, please forward me to the right place.

Cédric

[2016-05-18 07:16] catalin-hritcu commented on #529
Apparently Nik did some work on options 3 days ago that's probably related to this problem (https://github.com/FStarLang/FStar/commit/1465e9bb0ad5b8e13cdedc7a9e9b020ee7429a08).

[2016-05-18 10:43] sishtiaq commented on #529
Where is the source for the tutorial?

[2016-05-18 13:47] nikswamy commented on #529
How come this wasn't caught by the regression suite? We do run doc/tutorial regressions on each commit.

[2016-05-18 13:55] ad-l commented on #529
The problem is not the tutorial; the F* backend of the tutorial is broken which is a problem with the compiler or the standard libraries. I suspect it's a library issue in this case.

[2016-05-18 13:55] ad-l commented on #477
This was fixed a long time ago but not closed

[2016-05-18 13:55] #477 closed

[2016-05-18 13:58] nikswamy commented on #529
The problem is that the tutorial invokes F\* in a manner slightly different than the way we test it in our regression suite. In particular, it specifies the --smt option, which the regressions tests do not. And my overhaul of the options broke the setting of --smt. I'm pushing a fix. Would be good to fix the regression suite to match the website.

[2016-05-18 14:00] nikswamy commented on #529
pushed. Please give it a few minutes to update on the website. Many thanks, @bignoncedric, for the bug report.

[2016-05-18 14:00] #529 closed

[2016-05-18 15:19] polubelova opened #530 "Error with the pipeline operator"
Hello,

why the use of the pipeline operator (|>) changes the effect of computations?

Example:

[code]

`All verification conditions discharged successfully`

With the pipeline operator:

[code]

`Computed type "(list string)" and effect "ALL" is not compatible with the annotated type "(list string)" effect "Tot"`

[2016-05-18 16:04] nikswamy commented on #530
See `lib/FStar.All.fst`: it provides pipe_left and pipe_right, for the `ALL` monad.

You could define your own versions for whatever monad you're interested in, e.g,. Pure.

Note, F\* lacks effect polymorphism. So, we don't have a generic way of defining the pipe operators for every monad.

[2016-05-18 16:04] #530 closed

[2016-05-18 16:58] nikswamy commented on #529
FYI, @sishtiaq, the tutorial sources are in doc/tutorial

The code for the tutorial website itself is in the fstar-priv private repository.

[2016-05-19 09:30] bignoncedric commented on #529
Thanks for the fix!

[2016-05-20 10:37] s-zanella opened #531 "Automated dependency analysis misses a dependency"
[code]

[code]

Setting `--debug Low` one can confirm that M is not processed

`Here's the list of filenames we will process: /Users/anonymous/fstar/ulib/FStar.FunctionalExtensionality.fst /Users/anonymous/fstar/ulib/FStar.Set.fst /Users/anonymous/fstar/ulib/FStar.Heap.fst /Users/anonymous/fstar/ulib/FStar.ST.fst /Users/anonymous/fstar/ulib/FStar.All.fst N.fst
`

Surprisingly changing `assume val

[2016-05-20 11:42] msprotz commented on #531
Huh. I'll take a look at it, thanks

[2016-05-20 12:43] #531 closed

[2016-05-20 13:51] s-zanella opened #532 "Spurious dependencies for `.fsti` files"
If both `A.fst` and `A.fsti` are present, then F\* identifies `A.fst` as a dependency of `A.fsti` while it shouldn't.

Transitively, if `A` is a dependency of `B.fsti`, then F\* identifies `A.fst` and `A.fsti` as dependencies, when it should pick only `A.fsti`.

[2016-05-20 14:08] msprotz commented on #532
For the second point: I don't think it matters if both `A.fsti` and `A.fst` are identified as dependencies of `B.fst`; because, if you want to verify `B.fst`, then `fstar` will drop the environment after lax-checking `A.fst` and use only the contents of `A.fsti`; the only caveat is that `A.fst` may be an invalid file, but in that case it should probably be renamed `A.fst.draft`

[2016-05-20 14:08] msprotz commented on #532
For the first point, I agree that you may want to run `fstar A.fsti` without picking up `fstar A.fst`; this should be fixed.

[2016-05-21 14:41] catalin-hritcu commented on #454
Keeping track of the mailing list answer:

This is still on our list, and we've been making good progress on
providing the main enabler, by deriving Dijkstra monads “for free”
from expression level monads, which will enable extrinsic reasoning
about effectful code, as needed for supporting forgetting effects /
fictional purity.

Dijkstra monads “for free” should be landing on F* master in the next

[2016-05-22 09:09] s-zanella opened #533 "Bound term variable not found in refinement of nested let rec"
When trying to move a `let rec` back inside a `let`, following a recent bug fix (698bfc729dbc60137a91f579101f6f81984dc6d8) in extraction of non top-level `let recs`, I got a `Bound term variable not found` error for a variable that should be in scope inside a refinement.

Here's a self-contained example:
[code]
[code]

Might be related to #433.

[2016-05-23 10:32] s-zanella commented on #494
I believe this has been fixed by 5ce85419e2abf490715a0a7863f48e91dfa8a357, which establishes a precedence for resolving dependencies:

[code]

[2016-05-23 10:32] #494 closed

[2016-05-23 10:38] s-zanella commented on #417
This example fails with a different error with `--universes`:

[code]

[2016-05-23 17:08] nikswamy commented on #433
Cannot repro with --universes. Closing.

[2016-05-23 17:08] #433 closed

[2016-05-23 17:11] nikswamy commented on #533
FYI, here's a temporary workaround:

[code]

[2016-05-23 20:24] nikswamy commented on #248
Fyi, minimized a related example to the one below.

Repro with
[code]

[code]

[2016-05-24 00:53] nikswamy commented on #416
@msprotz : any idea about what might be going on with this notation? You're more familiar than I am with the numeric literal support.

[2016-05-24 00:54] nikswamy commented on #519
After lots of improvements to the persistent state management, this is now significantly improved (at least in my experience). We can re-open if/when other issues crop up.

[2016-05-24 00:54] #519 closed

[2016-05-24 18:14] catalin-hritcu commented on #153
Nik fixed this in 59a51b8c

[2016-05-24 18:14] #153 closed

[2016-05-26 02:19] nikswamy commented on #51
After more than a year, it just occurred to me that we already have a reasonably programmable support for the functionality requested here.

[code]

Elsewhere:

``let f  =
   using M.A; //if you want to use M.lemma_A here to prove e, just say so
   e
[code]

[2016-05-26 08:22] catalin-hritcu commented on #51
This is a cool trick, but I think there are a couple of things we could do better:
1. generate the `type lemma` automatically
2. maybe even generate the `SMTPatT (enable_lemma A)` automatically?
3. what I had in mind was specifying the `SMTPat (R x1 x2)` when `using` a lemma, not when defining it.
Given 3, I'm still not convinced we should be using global `SMTPat`s for this, but it's at least a wo

[2016-05-26 13:51] nikswamy commented on #51
Don't agree with your first two points. Auto generating stuff is brittle, implicit and sometimes magical. It will accomodate some pattern that we find useful today but will not anticipate new patterns that occur to us randomly a year from now. The mechanism I proposed is simple and explicit...if you understand patterns there's no mystery here.

The third point is interesting: do you have a concret

[2016-05-26 16:32] catalin-hritcu commented on #51
I think that almost any example where global `SMTPat`s are too expensive should fit this category, since you almost never want to have to write explicit proofs. See for instance:
https://github.com/FStarLang/FStar/blob/master/examples/metatheory/LambdaOmega.fst#L96

Personally I would prefer if a simple and easy `using` construct would be the default for everyone who's not a super expert and just

[2016-05-26 16:43] nikswamy commented on #51
Of course, we all agree that adding SMTPat's globally is risky.

I don't see how this is an example of the pattern you requested:
https://github.com/FStarLang/FStar/blob/master/examples/metatheory/LambdaOmega.fst#L96

But, in the example you provided, there seems to be one very particular pattern to apply to orient the equality from left to right. I was looking for an example where the pattern you

[2016-05-27 07:39] catalin-hritcu commented on #51
Reopening this for the "packages this up in some easier to use manner" part.

[2016-05-27 13:30] nikswamy commented on #51
No example?

Sent from a mobile device

On Fri, May 27, 2016 at 12:39 AM -0700, "Catalin Hritcu" <notifications@github.com> wrote:

Reopening this for the "packages this up in some easier to use manner" part.

---
You are receiving this because you modified the open/close state.
Reply to this email directly or view it on GitHub:
https://github.com/FStarLang/FStar/issues/51#issuecomment-222080961

[2016-05-28 17:51] drbo commented on #495
I think the solution is to have an *unambiguous* LALR(1) grammar.

[2016-05-28 22:00] nikswamy commented on #452
Fixed in --universes.

[2016-05-28 22:00] #452 closed

[2016-05-29 06:35] catalin-hritcu commented on #495
Just for the record, one more thing in this space at which we were looking these days is Reason:
http://facebook.github.io/reason/
https://facebook.github.io/reason/mlCompared.html
Their grammar seems less ambiguous, but not sure about LALR(1) though.

[2016-05-30 06:05] johanatan commented on #374
I just downloaded the latest fstar.exe for Mac OS X and the fstar-mode for Emacs and am getting the errors reported here: https://github.com/FStarLang/fstar-mode.el/issues/20

for this input file:
[code]

[2016-05-30 06:25] catalin-hritcu commented on #374
This should be fixed on the `master` branch. You're probably using an old release (they are all old) and

Source for the quote: https://github.com/FStarLang/FStar/blob/master/INSTALL.md#binary-releases

[2016-05-30 07:35] johanatan commented on #374
I downloaded the binaries from the website tonight-- I suppose it hosts binaries that are over 3 months old now. 😀

I will try building from source. Thanks!

[2016-05-30 13:19] auduchinok commented on #398
I got the same error with a code from the tutorial.
[code]

[2016-05-30 13:40] auduchinok opened #535 "Wrong effect type error in tutorial"
I get check type error for this code when using online editor in the [tutorial](https://www.fstar-lang.org/tutorial/):

[code]

Output:

[code]

It works if I change the type to `int -> ML (unit -> ML int)`.

[2016-05-30 16:00] catalin-hritcu commented on #398
@auduchinok I can indeed reproduce this on the `master` branch without `--universes`. Please note though that the usage of F\* without `--universes` is currently discouraged, and this will not be fixed there. You should instead use `--universes`, which will soon become the default mode.

With `--universes` I get a normal typing error:
[code]
which I can fix by changing `ref` to `ST.alloc`. I've do

[2016-05-30 16:02] beurdouche commented on #398
@catalin-hritcu @nikswamy : should we move the online tutorial to the `--universes` option at some point ?

[2016-05-30 16:13] catalin-hritcu commented on #398
@beurdouche  That would indeed be great. All code that doesn't currently `--universes` needs to be ported, so feel free start a new meta issue about that and lend a hand.

[2016-05-31 07:20] johanatan opened #536 "assertion failure does not print sufficient information to debug"
I also enabled debug printing with:
`--debug ModuleName --debug_level Extreme`

and scanned that output but could not find any information on example values that would cause the assertion to fail.

Am I missing an easy way to get this information out of the engine? Or is it that the engine is reasoning at a level where this information is not easy for it to produce?

Here's the code that is causin

[2016-05-31 07:21] johanatan commented on #536
Also, any advice on debugging assertion failures generally would be appreciated (as well as any specific insight re: the particular failure above).

[2016-05-31 14:18] infidel opened #537 "robot2.fst has bitrotted"
When I try to verify Exercise 11a (question or answer) online, I get:

[code]

From the command line after compiling F\* I get a different error:

[code]

If I delete lib/FStar.Util.fsti then I get the same error as the online tutorial. Do you have any suggestions on how I might fix it myself? For example, which one is wrong: fst or fsti, or both, or neither?

I noticed that FStar.Util.fst is comm

[2016-05-31 17:00] sishtiaq commented on #398
I can help with this: assign stuff to me.

[2016-05-31 17:42] s-zanella commented on #536
There is not much you can debug. This is a case where *the engine is reasoning at a level where this information is not easy for it to produce*. The formula inside the assertion is sent as a whole to Z3, which fails to prove (or disprove) it. This shouldn't be too surprising, because a proof requires to reason by induction.

If it is of any help, here's a proof of the assertion you wanted to prove

[2016-05-31 18:46] johanatan commented on #536
Thanks for that although I don't think it is fair to call that code "more idiomatic". Per the tutorial (and common sense), the decision to use refinement types on the functions, assertions or lemmas is "subjective" and a matter of personal style.

And, in my opinion, the code I tried to write is much prettier and to the point. It would be really great to find a way to make it work. It appears like

[2016-06-01 07:51] catalin-hritcu commented on #537
@infidel Thanks a lot for reporting, and sorry, but this seems a bit of a mess.

From the command line you get automatic dependency tracking but that seems to get confused because `FStar.Util.fsti` is given the `fsti` extension although as far as I can tell it's not at all a valid `fsti` file.

If you pass dependencies manually from the command line (and thus use `FStar.Util.fst`) you can get the

[2016-06-01 08:15] catalin-hritcu commented on #537
Digging a bit deeper into this part, `FStar.Util.fsti` is **almost** a valid `fsti`, and there is a special flag to make F\* parse this stuff. It's called `--fs_typ_app` and normally it's used only when bootstrapping F\* itself, just that keeping these almost valid, automatically generated files around seems silly, since automatic dependency checking will use them and then F\* will choke on them.

[2016-06-01 08:28] jkzinzindohoue commented on #536
I think you are missing the point about the "more idiomatic" remark.
As Santiago stressed out, the assertion you are trying to verify requires a proof the solver cannot completely infer. There is no "magic" involved here. If the solver cannot do it alone, you need to provide additional lemmas to help it, whatever the style you are using may be.

In your case, if you add a pattern to Santiago's lem

[2016-06-01 08:45] catalin-hritcu commented on #537
Actually, I'm even a bit unsure about this stuff, since I tried adding `fstar.exe --fs_typ_app FStar.Util.fst` to `lib/Makefile` to prevent bitrot but that causes two `Patterns are incomplete` errors:
[code]
Looking at `FStar.Util.fsti` it still has exceptions declared in ML syntax, which AFAIK is not valid F\*:
[code]
No clue why/how `fstar.exe --fs_typ_app robot2.fst` managed to get that far wit

[2016-06-01 09:40] s-zanella commented on #536
Thanks Jean-Karim. That's a nice example of using patterns, which I completely forgot.

@johanatan: If you want tighter syntax, here is a concise (but arguably less readable) proof that doesn't use `Lemma`:
[code]
The first argument of `f` could be omitted if #533 was fixed.

Another remark: in your original code, `a` doesn't carry any computational or logical meaning. So, once the assertion is pr

[2016-06-01 16:51] msprotz commented on #537
For the record, you can debug what happens with auto-deps with `--debug Low`, IIRC.

[2016-06-01 18:52] johanatan commented on #536
@jkzinzindohoue As I mentioned before, it was the assertion that Lemmas are "more idiomatic" than refinement types directly on the functions that I took issue with (and that view is supported by the tutorial itself). SMTPat is neat--I'll have to look into that some more.

@s-zanella Thanks! That is better to my eyes at least. Just a couple of questions though-- is the type of `u` Unit? Does the `_

[2016-06-01 19:04] s-zanella commented on #536
Both `u`s are inferred to have type `unit`. The notation `_` asks F* to infer a type.
You can see inferred types with `--log_types`

[2016-06-01 19:15] johanatan commented on #536
Ahh, that's what I figured. Is there any reason these two return `Tot` instead of `GTot`? There doesn't seem to be any computation at the value-level going on in there. And, if not, I'm not completely opposed to benefiting from Lemma's 'sugar' where Lemmas can't be avoided-- was more just a desire to avoid the Lemmas in the first place (but at least we have gotten rid of `fact_1` and `fact_2`). :)

[2016-06-01 19:29] s-zanella commented on #536
No reason to use `Tot`, using `GTot` is actually better.
You can get rid of `fact_1`, but not the induction in `fact_2`. It is hidden in the local `let rec` in the second proof.

[2016-06-01 19:37] johanatan commented on #536
Yea, I understand that the essence of `fact_2` was nested inside `conclusion` but I meant that the actual top-level val `fact_2` is eliminated. 😉

Thanks again for all your help!

[2016-06-01 19:41] s-zanella commented on #536
Good to know we're on the same page.
Thanks for bringing up the question!

[2016-06-01 19:43] johanatan commented on #536
P.S. It seems that your code isn't compiling.

[code]

[Line 22 is the first line and column 50 is the beginning of the first `Tot`]. I tried changing both `Tot`s to `GTot` as well to no avail.

[2016-06-01 19:46] s-zanella commented on #536
You're likely missing the `--universes` flag.

[2016-06-01 19:49] johanatan commented on #536
Hmm, adding that flag caused a lot of other stuff to break earlier in the file.

Copied from FStar.Constructive (as my build isn't currently able to import things directly)
[code]

[code]

[2016-06-01 19:54] s-zanella commented on #536
A consequence of `--universes` is that the type constructor `*` and the multiplication operator cannot be disambiguated by the kind. Try with `let op_Star = op_Multiply`

[2016-06-01 19:58] johanatan commented on #536
That seems to have helped but there are still issues:

[code]

Here's the entire file:
[code]

[2016-06-01 20:11] s-zanella commented on #536
It works for me with Z3 4.4.1.
The proof of `conclusion_0` may be too demanding for your setup. You can try increasing `--z3timeout`.

[2016-06-01 20:47] johanatan commented on #536
Ahh, yep. That worked!

Do you know what this warning means (re: your `let rec f ...` inside `conclusion_0`?

[code]

[2016-06-01 20:51] s-zanella commented on #536
Great!

That means that when typechecking `conclusion_0`, Z3 doesn't see the definition of `f`. But that's fine because the rest of the proof doesn't rely on the definition, just on the type signature.

[2016-06-01 21:47] #536 closed

[2016-06-02 00:23] johanatan commented on #536
So, the following variation type checks much faster (only a few seconds) and doesn't require the --z3timeout flag:

[code]

whereas this one takes a couple of minutes with --z3timeout set to 600:
[code]

Is this a known performance bug? Doesn't Lemma de-sugar into exactly that same code?

[2016-06-02 00:58] s-zanella commented on #536
I don't observe much difference between the two. For me, the latter takes slightly more time to typecheck, but the difference is at most a couple of seconds.

My understanding is that `Lemma` should de-sugar to the same code you wrote, except that `_` would become `unit`. Replacing `_` by `unit` does seem to speed up typechecking.

[2016-06-03 01:17] johanatan opened #538 "Add support for coinduction"
I've scanned the examples and tutorial and can't find any mention of this. Is there some other way to achieve the same? [I did notice that 'lazy' itself for a single val is not supported and not planned to be (unfortunately)]. Are there common techniques to workaround lack of laziness/ infinitudes?

[2016-06-03 05:22] johanatan opened #539 "Feature request: automatic generation of lemmas"
In the file `FStar/examples/verifythis/2015/01.fst` there are 3 value-level functions and 3 type-level functions (lemmas) which are structurally identical to the functions they are verifying (i.e., values returned from the one become `unit` returned in the other; recursion in the one becomes recursion in the other/etc).

I propose the introduction of a syntax like the following (for example) and a

[2016-06-03 07:01] catalin-hritcu commented on #538
F* has no laziness but you can encode it with thunks (`fun _:unit -> e` is a suspended version of `e`). You can do streams and other lazy data structures using thunks:
https://www.cs.cornell.edu/courses/cs3110/2011sp/lectures/lec24-streams/streams.htm

[2016-06-03 07:14] catalin-hritcu commented on #539
For very simple cases you might use the "Automatic induction" experimental feature:
https://www.fstar-lang.org/tutorial/tutorial.html#auto-ind

When this doesn't work (i.e. very often) you currently need to duplicate things and while I agree this is not nice, we currently have no support for meta-programming in F\*, and I wouldn't hold my breath for that landing any time soon (see #217).

[2016-06-03 10:24] s-zanella commented on #539
Most of the time you can avoid writing a separate Lemma (an extrinsic proof) and just attach the property you want to prove to the functions themselves (an intrinsic proof). Your example is exactly a case where you could do that:

[code]

If you haven't already, see the discussion in the tutorial:
[4.2. To type intrinsically, or to prove lemmas?](https://www.fstar-lang.org/tutorial/tutorial.html#s

[2016-06-03 12:46] jkzinzindohoue opened #540 "Equality on Type breaks the backend"
The following code
[code]
throws the following error when extracting to ocaml
[code]

[2016-06-03 13:23] jkzinzindohoue opened #541 "Incorrect OCaml extraction of implicit types in constructors"
The following code produces invalid (does not compile due to namespace issue) OCaml code at extraction:

[code]

It produces the following code

[code]

Where `ModuleName_Bla.t` is improper.

[2016-06-03 16:35] nikswamy commented on #540
@aseemr

This will be fixed by Aseem's branch that restricts equality appropriately. No fix to the backend.

[2016-06-03 16:36] nikswamy commented on #540
Duplicate of #510

[2016-06-03 16:36] #540 closed

[2016-06-03 18:45] s-zanella opened #542 "Error using inline qualifier"
[code]

[code]

Works when removing the `inline` qualifier.

[2016-06-03 19:00] s-zanella opened #543 "Surprising subtyping error"
This is easy to work around, but quite common and very annoying:

[code]

[code]

[2016-06-03 19:29] jkzinzindohoue commented on #540
But does it not remain an extraction issue ?
The "problematic" code should be erased as it is the body of a lemma, so why should it impact the extraction mechanism ?

[2016-06-04 21:48] johanatan commented on #538
Hi @catalin-hritcu , thank you for that helpful answer.

Do you know what it would require to make the `from`function below `Tot[al]`? It would seem to me to be total already (given that the creation of `stream` containing a head and a thunked tail should return immediately) but that won't compile due to the following error:

[code]

[code]

[2016-06-05 08:10] catalin-hritcu commented on #538
Right. Proving that co-recursive functions on streams are total is indeed tricky, if at all possible. F\*'s semantic termination check targets recursion, not co-recursion. It would be interesting to see if co-recursion ideas from other tools like Dafny could at some point be ported to F\*.

So you can still program with streams, but you won't be able to prove totality for now.

[2016-06-08 20:42] msprotz commented on #159
I've enabled building-via-msbuild in 88aa705ef22d7b03ac53d75a43f35f1899153a18; the default configuration is "release" (via the followup commit). I'm assuming that anyone who wants to debug will use Visual Studio's `.sln` file.

The remaining item is get rid of the custom Makefile entirely and call xbuild on OSX and Linux. This is on my radar and will probably happen, eventually, but in the meanwhi

[2016-06-10 13:42] s-zanella opened #547 "Difference between SMTPat and SMTPatT in --universes"
Can someone shed some light on why this is accepted with `--universes`?

`val f: u:unit -> Lemma (requires True) (ensures True) [SMTPat True]`

More generally, what's the difference between `SMTPat` and `SMTPatT` with `--universes`, if any?

I'm asking because I was confused by this error message:

[code]

[code]

Why`?14413` doesn't unify with `S 0`?
It typechecks if one replaces the `let rec` ab

[2016-06-10 15:18] s-zanella commented on #488
Cannot reproduce in `--universes`.

[2016-06-10 15:18] #488 closed

[2016-06-13 10:21] ad-l commented on #331
+@adl I too am interested in supporting induction recursion in F*

[2016-06-13 21:10] catalin-hritcu commented on #159
Given that the original problem of this issue if solved, should we close this and track the rest separately if needed?

[2016-06-13 21:12] msprotz commented on #159
The `xbuild` part is done so we can finally close the issue. Thanks to @mlr-msft for suggesting the right fix!

[2016-06-13 21:12] #159 closed

[2016-06-13 23:54] msprotz commented on #515
Everything is now done IIRC

[2016-06-13 23:58] msprotz commented on #416
I finally was able to (I think) fix it while implementing support for machine integers all across the board. We previously kept integer literals as constant strings all the way until the SMT solver,  where they were printed "as is". Z3 doesn't seem to understand the hex notation, so I had to implement in 385e9e809eaf35f316491ddd02f532acf03d9aab some routines to normalize everything to decimal, bot

[2016-06-13 23:58] msprotz commented on #416
There's another puzzling behavior that I reported on Slack, but I think this specific issue should be gone now. @s-zanella feel free to close

thanks

[2016-06-14 09:12] s-zanella commented on #514
Cannot reproduce it anymore.
Probably fixed by 385e9e809eaf35f316491ddd02f532acf03d9aab.

[2016-06-14 09:13] s-zanella commented on #416
Fixed by 385e9e809eaf35f316491ddd02f532acf03d9aab.
Thanks.

[2016-06-14 09:13] #416 closed

[2016-06-14 12:30] s-zanella opened #548 "Encode FStar strings as native Z3 strings"
The current master of Z3 has a primitive String sort, and Z3 may add support for reasoning about string operations in the future. See, for instance, the Z3 plug-in at https://github.com/z3str/Z3-str.

[2016-06-16 19:41] vkanne-msft commented on #248
We should hard fail on SMT errors.

[2016-06-16 19:43] vkanne-msft opened #550 "Make universes the default"

[2016-06-16 19:44] vkanne-msft commented on #279
needs to be verified in universes

[2016-06-16 19:55] #70 closed

[2016-06-16 19:58] vkanne-msft commented on #68
We will look at building multiset library in the future on top of Map.t as suggested. contributions welcome.

[2016-06-16 19:58] #68 closed

[2016-06-16 19:58] vkanne-msft commented on #86
Fixed using ZARITH

[2016-06-16 19:58] #86 closed

[2016-06-16 20:08] vkanne-msft commented on #398
We only fix bugs in universes now. This wont be fixed.
Porting tutorial is a separate issue.

[2016-06-16 20:08] #398 closed

[2016-06-16 20:20] msprotz commented on #526
@beurdouche

I recently cleaned up the Makefile targets so that you can easily choose to only run the OCaml specific regressions. Can you confirm that the docker file has been updated to take advantage of the new target and now only runs "make -C ocaml-output && make regressions"?

[2016-06-16 20:27] vkanne-msft commented on #543
We are agreeing that this is a common situation and the behavior is sub-optimal. The fix is not straightforward. We will look to fixing it in the future.

[2016-06-16 20:34] msprotz commented on #314
Alright, closing this. If you use --use_native_int, then the resulting code is unsound. If you're concerned with the soundness of the generated code re. integer overflows, just drop --use_native_int; we now use zarith that's supposedly pretty efficient as long as you stay within int63.

[2016-06-16 20:34] #314 closed

[2016-06-16 20:36] msprotz commented on #306
Fixing this will probably fix #323

[2016-06-16 20:36] vkanne-msft commented on #323
Extraction is designed for polymorphic recursion although because we cannot print out explicit type annotations, the functionality doesnt work as expected .

[2016-06-16 20:39] msprotz commented on #371
Two things.
1) @wangpengmit has been working on this; can you give us an update?
2) @aseemr @aseemr-msr one of these two guys is working on a new branch that properly deals with types that support or do not support equality in a branch https://github.com/FStarLang/FStar/tree/has_eq_impl

When both these sub-things are finished this can be closed

[2016-06-16 20:41] msprotz commented on #372
There is a Makefile.include in ulib/ml that defines default parameters for the libraries that should not be extracted; however, this is brittle. What about using `native module Foo` at the beginning of the file so that 1) fstar knows not to extract it and 2) people do not have to be aware of this caveat?

It is documented on the wiki but agreed it's not the most discoverable thing ever.

[2016-06-16 20:43] msprotz commented on #372
@nikswamy has a suggestion:

[code]

this would in turn allow us to get rid of the `--codegen_lib` flag.

[code]

[2016-06-16 20:45] #471 closed

[2016-06-16 20:48] #91 closed

[2016-06-16 20:51] msprotz commented on #143
https://github.com/FStarLang/FStar/wiki/Top-level-effects

[2016-06-16 20:52] msprotz commented on #182
[code]

(according to @nikswamy )

[2016-06-16 20:53] #182 closed

[2016-06-16 20:54] msprotz commented on #198
To be fixed in @aseemr @aseemr-msr 's branch.

[2016-06-16 20:54] #199 closed

[2016-06-16 20:55] #204 closed

[2016-06-16 20:55] msprotz commented on #205
@catalin-hritcu can you close this if it's done?

[2016-06-16 20:56] msprotz commented on #205
looks like the commit exists in the f* tree; closing

[2016-06-16 20:56] #205 closed

[2016-06-16 20:58] msprotz commented on #267
We have a more powerful normalizer in universes, so this is theoretically possible, but we have not exposed it to the user. We're considering `assert by normalize`.

[2016-06-16 21:00] msprotz commented on #271
in particular, `FStar.JS.fst` is no longer used, I think...

[2016-06-16 21:10] beurdouche commented on #526
Dockerfiles currently runs the following:

[code]

[2016-06-16 21:22] msprotz commented on #526
yes

[2016-06-16 21:25] beurdouche commented on #526
Ok, I'll do this tomorrow morning ;)

[2016-06-16 21:38] beurdouche commented on #520
@protz: to me this isn't very problematic. Maybe @s-zanella will have a different opinion ?

[2016-06-16 21:41] beurdouche commented on #372
I like this idea a lot, this would improve usability a lot ;)

[2016-06-16 21:52] s-zanella commented on #70
For the record, this has been fixed. To eliminate an empty type one uses a `match` without any branches:
[code]

[2016-06-16 22:16] s-zanella commented on #520
- Cannot reproduce the first issue anymore.
- I would just remove `bin/fstar-mono.sh`. It calls `fstar-mono.exe`, which is never generated.

[2016-06-16 22:53] #399 closed

[2016-06-16 23:06] vkanne-msft commented on #464
Works as expected.

[2016-06-16 23:06] #464 closed

[2016-06-16 23:09] vkanne-msft commented on #422
Fixed.

[2016-06-16 23:09] #422 closed

[2016-06-16 23:11] vkanne-msft commented on #445
Working in the latest master

[2016-06-16 23:11] #445 closed

[2016-06-16 23:13] vkanne-msft commented on #424
Not reproducible on Master using bug424.fst

[2016-06-16 23:13] #424 closed

[2016-06-17 07:32] catalin-hritcu commented on #68
Wouldn't it make sense to keep this issue open for that though?

[2016-06-17 08:08] s-zanella commented on #424
I can still reproduce this on master using bug424.fst.

Note that this only affects the stratified type checker, so we don't care about it now.

[2016-06-17 08:23] s-zanella commented on #520
Closing via 2c647f017a18294a534242c29daed2796a05531e

[2016-06-17 08:23] #520 closed

[2016-06-17 10:36] aseemr commented on #510
The design of this feature is here: https://github.com/FStarLang/FStar/wiki/HasEq-predicate-for-inductive-types.

I can pass the F* universe regressions (in has_eq_impl branch). Issue https://github.com/mitls/mitls-fstar/issues/70 tracks the port of mitls to this change.

[2016-06-17 14:37] nikswamy commented on #407
After much back and forth, we now actually have a system for supporting interfaces (available only with --universes)

https://github.com/FStarLang/FStar/wiki/F%E2%98%85-interfaces-(split-file,-more-complicated-version)

With .fsti+.fst files, the original example from @mlr-msft works (suitably adapted to the revised naming conventions)

Issue407.fsti
[code]

Issue407.fst:
[code]

Additionally, the

[2016-06-17 14:37] #407 closed

[2016-06-17 14:45] nikswamy commented on #424
As a general rule. @vkanne-msft  is closing all bugs not reproducible with --universes.

[2016-06-17 14:48] nikswamy commented on #424
I've updated the name of the label to "needs confirmation with --universes" to make it a bit clearer that this is our policy.

[2016-06-17 14:53] nikswamy commented on #68
There are really two separate issues here. The first is the bug report for the type-checking error. That bug is no longer reproducible with --universes.

The second issue is whether or not we should add MultiSet as a library. I've created a separate meta-issue for all library requests and added MultiSet there.

[2016-06-17 14:55] nikswamy opened #551 "Requests for additions to the standard libraries"
This is a meta-issue for tracking all requests for libraries

[] MultiSet

[2016-06-17 18:29] vkanne-msft commented on #405
Verified works with Z3 4.4.1

[2016-06-17 18:29] #405 closed

[2016-06-17 18:30] vkanne-msft commented on #400
Reproducible with --universes flag

[2016-06-17 18:32] vkanne-msft commented on #152
Reproducible with --universes flag

[2016-06-17 18:36] vkanne-msft commented on #379
Not reproducible with --universes flag.

[2016-06-17 18:37] vkanne-msft commented on #383
Seems to be fixed. Not reproducible with --universes flag.

[2016-06-17 18:37] #383 closed

[2016-06-17 18:38] vkanne-msft commented on #378
@nikswamy this is still reproducible.

[2016-06-17 18:41] vkanne-msft commented on #253
Fails now as expected with the --universes flag. @catalin-hritcu can you kindly verify as well?

[2016-06-17 18:41] #253 closed

[2016-06-17 18:49] nikswamy commented on #355
This is really at the core of the discussion that led to --universes. It's not clear to me now what, if anything, is the particular deliverable associated with this issue, beyond --universes.

At the least, it would be great for someone to revisit Berardi, Russell etc. and try to replay them with --universes. Should we just track that with #360 and close this issue?

[2016-06-17 18:58] vkanne-msft commented on #290
Not reproducible with --universes flag.

[2016-06-17 18:58] #290 closed

[2016-06-17 19:32] nikswamy commented on #334
@catalin-hritcu  close?

[2016-06-17 19:34] nikswamy commented on #333
I vote for closing this as there's really no plan for actually doing it, no one is really asking for it, and it's quite low priority

[2016-06-17 19:40] nikswamy commented on #537
This has nothing to do with --fs_typ_app. That's only for enabling `t<s>` and it's only used for boostrapping from the shared subset of F* and F\#. We shouldn't really use it anywhere else. I would even vote for removing that option from the --help message and reserving it for internal use for bootstrapping only.

The 'of' syntax for data constructors is valid syntax by default in F*. We just don'

[2016-06-17 19:46] vkanne-msft commented on #377
causes an error in FStar,Heap
D:\Sources\FStar\lib\FStar.Heap.fst(48,5-48,7) : Error
Invalid identifer 'On'; expected a symbol that begins with a lower-case character

[2016-06-17 19:48] nikswamy commented on #377
@vkanne-msft  this repro looks dubious. did you really use the --universes flag, because with that flag we should never look at FStar/lib.

[2016-06-17 19:50] vkanne-msft commented on #377
Interesting, without referencing the libraries (and module dependencies in the test file), i am unable to build the test sample.

[2016-06-17 19:52] nikswamy commented on #377
Ok, this is a tricky case. Leave it open ... I'll investigate later.

[2016-06-17 20:29] nikswamy commented on #275
This is not reproducible in --universes. It should be closed.

[2016-06-17 20:29] #275 closed

[2016-06-17 20:38] nikswamy commented on #176
not reproducible in --universes

[2016-06-17 20:38] #176 closed

[2016-06-17 20:45] vkanne-msft commented on #121
@catalin-hritcu can you kindly repro the issue with --universes and reopen the issue ?

[2016-06-17 20:47] vkanne-msft commented on #183
Gives a syntax error.
@catalin-hritcu can you kindly reproduce and reopen the issue?

$ fstar --universes bug183.fst
D:\Sources\FStar\examples\bug-reports\bug183.fst(7,24-7,25) : Error
Syntax error

[2016-06-17 20:48] vkanne-msft commented on #208
Unable to reproduce exact issue.
$ fstar --universes bug208.fst
D:\Sources\FStar\examples\bug-reports\bug208.fst(11,34-11,35) : Error
Expected expression of type "(Bug208.acc (?14321 a))";
got expression "a" of type "(_:Prims.int -> Type)"

@catalin-hritcu can you kindly check and reopen the issue ?

[2016-06-17 22:23] s-zanella commented on #378
It no longer throws an exception with `--universes`.
I get just a normal (but somewhat confusing) error message:

```Identifier not found: [Tot]```

[2016-06-17 22:24] s-zanella commented on #400
I get a stack overflow without `--universes`
With `--universes`, F* seems to stall after a few seconds:
[code]

[2016-06-17 22:56] s-zanella commented on #183
Still type checking without any warning.
It should fail or warn about the inconsistent type annotation in the pattern.

[2016-06-17 23:18] s-zanella commented on #338
I couldn't find any missing projector or discriminator in prims, so I consider this issue is resolved.

OCaml implementations of other modules are less consistent in this respect (e.g. ucontrib/Platform/ml/platform.ml) comes to mind.

[2016-06-17 23:18] #338 closed

[2016-06-17 23:36] nikswamy commented on #547
I think SMTPatT is around for a bit of backwards compatibility; We should remove it.

Not sure about the let rec. Will have to stare at it a bit more.

[2016-06-18 09:35] sishtiaq commented on #333
How about an editor mode for VS Code?

[2016-06-18 10:44] catalin-hritcu commented on #333
@nikswamy: My vote is to label this "patches-welcome" or something. If you want to close it then label it "wontfix".

@sishtiaq: We already have an unmaintained atom mode (https://github.com/FStarLang/atom-fstar), but probably the VS Code extension mechanism is different, right? More importantly, make sure that there are enough interested users before putting energy into building yet another edito

[2016-06-18 10:55] catalin-hritcu commented on #208
After a very small tweak to account for the way `--universes` deals with implicit arguments I could reproduce the blow up with `--universes`. The unexpected error looks a bit different:
[code]

[2016-06-18 11:05] catalin-hritcu commented on #404
I can confirm that this parsing issue still appears with `--universes` and the FSharp build.
[code]

[2016-06-18 11:11] catalin-hritcu commented on #291
This no longer causes a stack overflow, but instead a cryptic type error:
[code]
Is this expected behavior?

[2016-06-18 11:22] catalin-hritcu commented on #121
This still appears with `--universes`:
[code]

[2016-06-18 11:57] catalin-hritcu commented on #253
Seems that this indeed no longer happens (with or without universes).

[2016-06-18 11:58] catalin-hritcu commented on #400
For me this causes infinite loop with `--universes`. Killed it after 42 minutes:
[code]

[2016-06-18 12:17] catalin-hritcu commented on #334
There's no "can't fix" so marking this "won't fix"

[2016-06-18 14:51] catalin-hritcu commented on #360
@nikswamy says

Any takers? (it will take a while until I can get to this)

[2016-06-18 14:51] catalin-hritcu commented on #355
Ok, let's track that in #360

[2016-06-18 14:51] #355 closed

[2016-06-18 14:59] catalin-hritcu commented on #143
@msprotz  Most of this is scary from a proof assistant point of view. Do you allow `Tot` modules to depend on impure ones? If I want to use F* as a replacement to Coq, is there any easy way I can make sure that everything I prove is sound?

[2016-06-18 15:54] nikswamy commented on #143
My general view of this is that we can already express this stuff if you think of the entire program as a single term. Of course, that's too unwieldy for use. But, I would attempt to argue for the soundness of this proposal via a desugaring.

Note Tot terms can already depend on impure computations already. To interpret such a term as a proof, you need to make sure that the impure part doesn't div

[2016-06-18 16:02] catalin-hritcu commented on #143
Really? I don't understand this. It's not how I thought effect tracking and purity works. Can you give an example?

[2016-06-18 16:06] nikswamy commented on #143
[code]

[2016-06-18 16:17] catalin-hritcu commented on #143
I see. The problem is that if this is an expression then I very easily can see from the type that some part of it is impure, but if these are modules then I cannot. So how about allowing one to set the expected top-level effect (for the composition of all modules)? For using F* as a proof assistant I would set the top-level effect to Tot, which would prevent me from accidentally importing any impu

[2016-06-18 16:20] nikswamy commented on #143
Yep. Very reasonable.

[2016-06-18 16:29] catalin-hritcu commented on #143
Cool. Together with writing `Tot` on top of the module to prevent local effects, this would allow us to have better confidence in F*'s proofs.

[2016-06-18 16:40] catalin-hritcu commented on #311
I don't think the universes solves this, but hopefully with the current DM4F work we will no longer assume a top of the effect "lattice" (just a bottom?), which should also fix this kind of issue.

[2016-06-18 16:45] catalin-hritcu commented on #311
Actually `--universes` did fix the problem of this issue:
[code]

[2016-06-18 16:45] #311 closed

[2016-06-18 16:52] nikswamy commented on #311
Fyi, it's the autodeps feature enabled by universes that's responsible for fixing it.

Sent from a mobile device

On Sat, Jun 18, 2016 at 9:45 AM -0700, "Catalin Hritcu" <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #311<https://github.com/FStarLang/FStar/issues/311>.

-
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https

[2016-06-18 17:01] sishtiaq commented on #333
I use Code myself over Windows and Mac. But, yes, we should check where the demand is before doing work.

[2016-06-18 17:02] catalin-hritcu commented on #311
I had passed `--explicit_deps` though. It seems that only includes `prims.fst`.
[code]

[2016-06-19 15:59] jkzinzindohoue opened #552 "Refinement on arrow type crashes the typechecker"
The following code
[code]
crashes F* on the `g` declaration with
[code]

[2016-06-19 16:04] jkzinzindohoue commented on #552
Note that declaring a type abbreviation works:
[code]
typechecks.

[2016-06-19 16:40] catalin-hritcu commented on #552
Seems like a limitation of the SMT encoding:
https://github.com/FStarLang/FStar/blob/385e9e809eaf35f316491ddd02f532acf03d9aab/src/smtencoding/encode.fs#L1395

[2016-06-19 16:44] catalin-hritcu commented on #552
Also, could reproduce it even without the funny let syntax:
[code]
causes exactly the same error
[code]

[2016-06-19 22:57] nikswamy commented on #550
Very easy to implement. But the switch requires either porting more of our regression suite to universes or fixing the make files to get them to use --stratified

[2016-06-20 06:33] sishtiaq commented on #550
I can do this. What's the urgency/duedate?

[2016-06-20 07:21] beurdouche commented on #266
This goes through in `--universes`

[2016-06-20 07:32] beurdouche commented on #451
This is not possible anymore because `auto-deps` considers it as a cyclic dependancy

[2016-06-20 07:36] beurdouche commented on #475
Bugs are fixed and the behaviour of regressions regarding that particular isssue is correct

[2016-06-20 07:36] #475 closed

[2016-06-20 07:37] catalin-hritcu commented on #451
@beurdouche: What if one uses `--explicit_deps` though?

[2016-06-20 07:43] beurdouche commented on #451
[code]
[code]
Hum ...

[2016-06-20 07:50] beurdouche commented on #451
Ok I wasn't testing the correct bug anyway...

[2016-06-20 07:59] sishtiaq opened #553 "rm .old dir"
Find out (@nikswamy @vkanne-msft should know) whether this is used or not. If not, then delete.

[2016-06-20 09:11] catalin-hritcu commented on #553
The information in `.old` is not publicly available anywhere else, so probably no.

[2016-06-20 10:50] sishtiaq commented on #553
Is it still used tho'?

[2016-06-20 10:59] catalin-hritcu commented on #553
It's the subject of a ton of already published papers and it needs to be available somewhere for good reproducibility of research reasons. It's currently linked here:
https://github.com/FStarLang/FStar#old-f-versions-v071-and-earlier
So in this sense, yes, it is used.
Whether it was a good idea to add it to the repo is a different question, Nik doubted that afterwards too, but now it's done, and t

[2016-06-20 11:02] s-zanella commented on #143
The wiki at https://github.com/FStarLang/FStar/wiki/Top-level-effects says we now allow pre- and post-condition annotations in `module` directives. Is this already implemented or is it just a proposal?

I tried ```module M: ST unit (fun h → True) (fun h0 _ h1 -> True)``` and it fails with a syntax error.

[2016-06-20 11:04] s-zanella commented on #451
Self-references are still allowed with `--universes` and `--explicit_deps`.

[2016-06-20 12:44] s-zanella commented on #367
This appears to be fixed in master with `--universes`.
Closing.

[2016-06-20 12:44] #367 closed

[2016-06-20 12:56] mtzguido opened #554 "Inference fails on an unannotated let rec"
The following code

[code]

Fails to verify with: `Subtyping check failed; expected type (_:(?14386 (Prims.op_Addition i 1)) -> Prims.bool); got type (_:(?14386 i) -> Prims.bool)`. Seems like an incorrect dependency on `i` being forced. With `--lax`, it goes through.

This also goes through in the stratified branch (it is part of [u]lib/FStar.List.fst).

Moving the `i` argument to be last also fix

[2016-06-20 12:59] nikswamy commented on #143
Very much still a proposal.

[2016-06-20 13:36] sishtiaq commented on #553
That links to .old/ fstar-0.7.1-alpha.zip. Do you know anything about the .old/to_be_ported dir?

[2016-06-20 13:44] s-zanella opened #555 "FStar.All.ML not found when using an FStar.* module that uses the ML effect"
`M.fst`
[code]
`FStar.N.fsti`
[code]
[code]
The problem comes from the order in which dependencies are processed. When depending on `FStar.N.fsti`, `FStar.N.fsti` is processed before `FStar.All.fst`. When depending on `N.fsti`, `N.fsti` is processed after `FStar.All.fst`.

One can argue that one shouldn't add new modules in the FStar namespace, but some libraries (e.g. `FStar.String`) already trig

[2016-06-20 13:48] catalin-hritcu commented on #553
@nikswamy can answer this better. AFAIK they some old examples he took out of the zip file thinking that it would be a good idea to one day port them to new F*. That was 2 years ago, or so, and it doesn't seem that much happened with them. Still, I don't see any harm in having them there.

[2016-06-20 14:22] jkzinzindohoue commented on #554
I think it is just a matter of extra annotations being required by the typechecker.
With those it works:
[code]

[2016-06-20 14:23] nikswamy commented on #550
Would be great to do this ASAP. Many of us have been bitten by forgetting to add --universes

[2016-06-20 14:27] jkzinzindohoue commented on #550
Adding `(setq fstar-subp-prover-args '("--universes"))` to the `.emacs` as you showed me may help in the mean time.

[2016-06-20 14:27] s-zanella commented on #555
Thanks.
Actually, I remember you said you were going to change this behavior before (probably on Slack). I'll fix FStar.String and maybe other libraries accordingly and then close this.

[2016-06-20 14:28] mtzguido commented on #554
Yes, but note the original code is not Tot, but in ALL, so there's no termination check. The `0` in the `[]` case was actually a `failwith`, but I removed it to show that it's not related to that.

 I should have made that clear, this is not (necessarily) related to termination.

[2016-06-20 14:29] msprotz commented on #555
Thanks!

[2016-06-20 14:30] msprotz commented on #555
I'm surprised that these haven't been caught by the regression suite. If you can add the files you fix in the `Makefile` for `ulib/` that would probably be helpful

[2016-06-20 14:34] jkzinzindohoue commented on #554
You can remove the effects though.
[code]
I think that the subtyping algorithm is just not smart enough, extra annotations fix it.

[2016-06-20 14:36] jkzinzindohoue commented on #554
As far as I have experienced, annotating non-top-level `let rec` is usually required for the code to typecheck, modulo trivial cases.

[2016-06-20 14:41] ad-l commented on #143
+@adl tracking progress on this. I agree with Santiago that we probably abuse top-level effects in miTLS (typical examples: modules that instantiate a global idealization table)

[2016-06-20 15:10] s-zanella commented on #359
A similar error in `ulib/FStar.OrdMapProps.fst` is still there.
I'm going to push a fix for this in a few minutes.

[2016-06-20 15:47] #359 closed

[2016-06-20 15:47] #555 closed

[2016-06-20 15:56] s-zanella commented on #391
This now succeeds and extracts the character "×" as 0xC3 0x83 0xC2 0x97.
Not sure if this is what we want. The multiplication sign in UTF8 is 0xC3 0x97.

[2016-06-20 16:26] msprotz commented on #391
Huh no that's not good. I thought I had changed the strings to be completely pass-through, but the behavior is still incorrect.

[2016-06-20 16:28] s-zanella commented on #317
This is still broken.
Strider used to notify Slack, so not having e-mail notifications wasn't critical.
Currently Strider builds are broken. We need to update Mono on the server.

[2016-06-20 16:29] s-zanella commented on #317
I think we could close this issue as wontfix as long as we recover Slack notifications.

[2016-06-20 16:36] catalin-hritcu commented on #550
One blocker is the online tutorial which still uses stratified and would break immediately if this change was made in master. @beurdouche had started porting things at some point (b7361c31), but I don't know what the status of that is.

[2016-06-20 17:39] s-zanella commented on #380
Still reproducible with `--universes` and quite worrisome.

[2016-06-20 17:47] s-zanella opened #556 "Strings should be extracted "as is""
[code]

[code]

In the source file × is 0xC397. In the extracted file, it is 0xC383C297
See #391.

[2016-06-20 17:48] s-zanella commented on #391
Closing the original issue. Opened #556 to track the new one.

[2016-06-20 17:48] #391 closed

[2016-06-21 01:06] nikswamy commented on #380
ah, oversight. My planned fix was to have defined in prims

[code]
etc.
Just as we already do for `l_Forall` and `l_Exists` etc.

In this case, the simplifications done by normalization (which are only on l_and, l_or, etc.) are restricted to occur in proof-irrelevant portions of the term only.

This rules out your counterexample. But, I have regressions in FStar.SquashProperties, unsurprisingly, w

[2016-06-21 04:25] #279 closed

[2016-06-21 04:49] #552 closed

[2016-06-21 05:14] nikswamy commented on #291
Been investigating the type inference failure.

No longer a crash, so demoting the priority

[2016-06-21 05:20] nikswamy commented on #291
The imitation solution to problem 5455 is fishy ... seems to break the closed-solutions invariant. Need to investigate further.
[dump.txt](https://github.com/FStarLang/FStar/files/324845/dump.txt)

[2016-06-21 05:21] nikswamy commented on #309
can't repro with --universes... closing.

[2016-06-21 05:21] #309 closed

[2016-06-21 05:23] nikswamy commented on #502
Can't repro with --universes. Closing.

[2016-06-21 05:23] #502 closed

[2016-06-21 05:24] nikswamy commented on #404
Is this really Priority 1? I'd be delighted if someone fixed the F\# lexer ... but I'm not going to get around to it anytime soon myself.

[2016-06-21 05:29] nikswamy commented on #210
This is no longer reproducible. `fstar` complains about an unresolved unification variable in the argument of `acc_inv` now.

[2016-06-21 05:29] #210 closed

[2016-06-21 05:32] nikswamy commented on #262
no longer reproducible. we now complain about uninstantiated implicit arguments in the definition of log.

[2016-06-21 05:32] #262 closed

[2016-06-21 09:33] s-zanella commented on #266
This is fixed in master

[2016-06-21 09:33] #266 closed

[2016-06-21 13:43] vkanne-msft opened #557 "Interactive mode for interfaces/implementations when files are split between FSTI and FST"
Interactive mode is broken when files are split into fsti and fst

[2016-06-21 14:26] sishtiaq commented on #550
So, can Nik and Catalin confirm what needs to be ported:
- FStar/doc/tutorial/code
- FStar/examples
- mitls-fstar [is mostly working with universes, I think]

[2016-06-21 15:24] nikswamy commented on #557
Not sure I agree with the "broken" part. It just wasn't designed to support interactive mode in the first place.

There was a proposal (not sure it was ever written up) about having a feature in the interactive mode to mark definitions that may rely on as-yet-undefined values (coloring them differently, for example). And to only mark them as checked when all their immediate dependences have been c

[2016-06-21 15:29] nikswamy commented on #550
We marked this an "easy fix" with the following tasks in mind:

1. Add a new flag, '--stratified', to the F\* compiler. This should set the Options.universes variable to false. By default, Options.universes should be true.

2. Remove the '--universes' flag

3. Go through all the makefiles, FStar/examples and FStar/doc/tutorial setting the flags appropriately. mitls-fstar already uses --universes e

[2016-06-23 16:02] ad-l opened #558 "Mutually inductive types don't work in --universes"
[code]

[2016-06-23 16:16] s-zanella commented on #558
?
[code]

[2016-06-23 16:23] s-zanella commented on #285
We are tracking the issue with Strider SMTP configuration in #317.
I do get e-mail notifications from Travis for builds triggered by my commits, so this issue is resolved.

[2016-06-23 16:23] #285 closed

[2016-06-23 16:48] s-zanella commented on #282
Updating this to the current syntax:

[code]
[code]

[2016-06-23 17:45] #558 closed

[2016-06-23 19:01] s-zanella commented on #360
Revisiting means that we convince ourselves that they cannot be replayed? Or adding enough axioms so that they can?

Either way, this requires a means to denote universes beyond `Type0`, which is still pending in #505.

[2016-06-23 19:34] catalin-hritcu commented on #360
Both would be useful, once you can write higher universes.

[2016-06-24 19:01] catalin-hritcu commented on #399
This indeed seems fixed now (with or without universes), although it's a unclear what exactly happened.

[2016-06-24 19:10] catalin-hritcu commented on #399
This indeed seems fixed now with universes at least, although it's still unclear what exactly is happening without universes: things fail only when the module name is `Bug399`, but work with with `Bug` for the module name. WTF?

With module named `Bug399` things fail, as they probably should:
[code]

With module named `Bug` it seems nothing is really verified? (notice there is no `Verifying module

[2016-06-24 19:17] catalin-hritcu commented on #399
Here's some `--debug Low` output.

With module named Bug399:
[code]
With module named `Bug` (or anything that's not `Bug339`):
[code]

[2016-06-24 19:24] catalin-hritcu commented on #399
@msprotz Could it be autodeps gone wild?
[code]

[2016-06-24 19:34] catalin-hritcu commented on #399
Tried one more thing: for `fstar.exe --log_queries bug399.fst` no query files are created and it seems the SMT solver is not invoked at all, while for `fstar.exe --explicit_deps FStar.FunctionalExtensionality.fst FStar.Set.fst FStar.Heap.fst FStar.ST.fst FStar.All.fst --log_queries bug399.fst` the query files are created and the SMT solver invoked.

[2016-06-24 19:57] nikswamy commented on #399
I think it's because we no longer aggressively inline definitions so the foo is shared. If you inlined foo by hand i think it will still fail.

[2016-06-24 20:06] catalin-hritcu commented on #379
This has only gotten *worse* with `--universes` since we get less informative, but still spurious, error messages:
[code]

[2016-06-24 20:12] nikswamy commented on #399
`fstar.exe --universes A.fst` adds `--verify_module A` implicitly.

If the module in `A.fst` is named `B` then a warning message is printed and nothing gets verified,

In this case, if you write `fstar --universes bug399.fst --verify_module Bug` then it is indeed verified.

[2016-06-24 20:12] msprotz commented on #399
yep. just came to the same conclusion this very second with @catalin-hritcu

[2016-06-24 20:18] nikswamy commented on #399
As for my remark about inlining ...

If you write:
[code]

This verifies with `--universes` but fails without it.

The reason is that the SMT encoding in `--universes` has an optimization that elides type-guards on function definitions. So, in this case, even though the query ends up as `(fst unit t1 x = fst unit t2 x)`, the reduction rule of `fst` is no longer guarded with an obligation to prove

[2016-06-24 20:21] nikswamy commented on #379
Curious why @vkanne-msft decided to close this ...

[2016-06-24 20:34] catalin-hritcu commented on #399
@nikswamy I'm a bit confused, why would we have `t1` and `t2` on the two sides if the `p` arguments are the same? Also not sure how `fst unit t1 x` could return to `x`.

Stepping one level up, are you saying that there is something shady with erasing type guards here?

[2016-06-24 20:41] nikswamy commented on #399
Sorry, I was imprecise.

I should have said `fst unit t1 (x, _) = fst unit t2 (x, _)` both reducing to `x`.

As for why we end up with `t1` and `t2`: The encoding does not share representations of impure function types.

No, nothing shady about erasing type guards. Just that we only erase type-guard in encodings of function definitions and I really would like to erase them more aggressively, cf. m

[2016-06-25 15:15] vkanne-msft commented on #379
Don't remember.will check again.

Get Outlook for Android<https://aka.ms/ghei36>

On Fri, Jun 24, 2016 at 1:21 PM -0700, "nikswamy" <notifications@github.com<mailto:notifications@github.com>> wrote:

Curious why @vkanne-msft<https://github.com/vkanne-msft> decided to close this ...

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.

[2016-06-25 17:51] mk commented on #332
Should it be possible to translate to JavaScript using the OCaml output and either [bucklescript ](https://github.com/bloomberg/bucklescript) or [js_of_ocaml](http://ocsigen.org/js_of_ocaml/)?

[2016-06-25 18:09] nikswamy commented on #332
In principle, yes. Although I don't know of anyone who has tried it. If you do, I'd be very interested to learn how it went. Thanks!

[2016-06-25 21:42] catalin-hritcu opened #560 "Pollack inconsistency when module name is incorrect"
As discovered with @nikswamy  and @msprotz in https://github.com/FStarLang/FStar/issues/399#issuecomment-228450512 when the name of the module doesn't match the name of the file F* is Pollack inconsistent: it says it verified the file, but in fact it really did nothing. It does print a warning:
[code]
but this only talks about dependencies and does not clearly reflect the gravity of the problem. D

[2016-06-25 21:50] nikswamy commented on #560
The proposed fix is in auto-deps mode: when the warning is issued, so long as the user has not already specified a `--verify_module` option on the command line herself, we will add `--verify_module B` where `B` is the name of module for which the warning is raised.

[2016-06-25 21:50] nikswamy commented on #560
This proposed fix will not require changing existing files/module names.

[2016-06-27 08:31] s-zanella commented on #560
It would be great if you could also fix #415 while you are at it.

[2016-06-27 17:30] nikswamy commented on #517
Also observing that the notation has a negative impact on extraction.

This version extracts fine:

[code]

to

[code]

However, this version gets the arity of `st_bind_wp` wrong after extraction.

[code]

[2016-06-27 19:58] msprotz commented on #560
Fixed via f81093399b85245a4cdc01d0e14c8dbd8e76e1cb

[2016-06-27 19:58] #560 closed

[2016-06-27 19:58] msprotz commented on #415
Fixed via f81093399b85245a4cdc01d0e14c8dbd8e76e1cb

[2016-06-27 19:58] #415 closed

[2016-06-27 21:15] danelahman opened #561 "Function type not unfolding when projecting from a pair"
I would expect the following small piece of code to typecheck, but it doesn't:
[code]

Instead, I need to do an explicit bind to get the application to work:
[code]

[2016-06-27 21:35] beurdouche commented on #561
Hum, when I am testing this with `--universes`, both typecheck. Can you confirm ?

[2016-06-28 17:23] danelahman commented on #561
I was also using fstar with `--universes` but apparently my copy of fstar was older than I thought. Can now confirm that it typechecks with today's checkout from github.

[2016-06-28 17:23] #561 closed

[2016-06-28 22:00] vkanne-msft commented on #129
Catalin, can you kindly reverify this issue with universes ?

[2016-06-28 22:06] vkanne-msft commented on #254
Does not fail. All assertions pass successfully

[2016-06-28 22:06] #254 closed

[2016-06-28 22:08] vkanne-msft commented on #484
@catalin-hritcu can you kindly reverify this universes ? I am hitting a different error now.

$ fstar --universes bug484.fst
D:\Sources\FStar\examples\bug-reports\bug484.fst(11,11-11,12) : Error
Inconsistent implicit argument annotation on argument p#294

[2016-06-28 22:13] vkanne-msft commented on #173
@nikswamy  can you look at this bug ? I am getting a different error.

D:\Sources\FStar\examples\bug-reports\bug173.fst(207,39-207,41) : Error
Identifier not found: [MkTuple2._2]
Hint: MkTuple2._2 belongs to module MkTuple2, which does not belong to the list of modules in scope, namely FStar.All, FStar.ST, FStar.Heap, FStar.Set, FStar.FunctionalExtensionality, Prims

[2016-06-28 22:15] vkanne-msft commented on #358
@nikswamy can you kindly verify this ?

[2016-06-28 22:16] vkanne-msft commented on #230
@catalin-hritcu can you reverify this ?

[2016-06-28 23:03] catalin-hritcu commented on #230
Problem still appears, although it does seem a bit better. Here's a screenshot:
![screenshot from 2016-06-28 23-59-18](https://cloud.githubusercontent.com/assets/5850655/16435249/e34e6928-3d94-11e6-8b60-1887ab4c8d3b.png)

An even more worrisome thing is the `Unconstrained unification variables` error(?) that only appears in OCaml but not in F# ... and somehow the very crude counting we're doing se

[2016-06-28 23:05] catalin-hritcu commented on #230
Ah, the `Unconstrained unification variables` does appear in F# too ... just much earlier. Strange!

[2016-06-29 04:05] master-q opened #562 "How to build the "tutorial" document?"
How to build the "tutorial" document? I would like to translate the document into Japanese.

Now building it causes following error:

[code]

Is it madoko side problem?

[2016-06-29 05:21] nikswamy commented on #562
@daanx: Any ideas?

[2016-06-29 05:24] nikswamy commented on #553
I agree with Catalin: removing this would only cause more confusion now.

As for the to_be_ported directory: Yes, it would be nice to port them, But, it's now a much lower priority than porting stuff from src/examples to universes.

Closing this issue. Recording that we could port more examples in #90

[2016-06-29 05:24] #553 closed

[2016-06-29 05:26] nikswamy commented on #90
-- While stuff from SF would be nice to have, more urgent is to port examples to use the new universal type-checker.

-- Additionally, in the nice to have category, let's port stuff from .old/to_be_ported

[2016-06-29 05:29] nikswamy commented on #252
This seems to happen to me only with the F# build ... perhaps some problem with our lex.fsl

[2016-06-29 05:41] nikswamy commented on #535
The `ST` effect expects 3 arguments, i.e., `ST a pre post`. You might have meant to write `St`, which is a variant that excludes the pre- and post-condition.

However, writing `St` in place of `ST` here causes a different error with a not very informative error message. The failure is due to a lack of sharing in the SMT representation of impure function types. Marking this a bug. See also the disc

[2016-06-29 05:43] nikswamy commented on #533
See also #517

[2016-06-29 09:24] s-zanella commented on #484
@vkanne-msft: The error you are getting now is unrelated to the original issue.
Working around it, I can still hit the original issue:
[code]
I pushed an updated example that fails for seemingly the same reason as before:
[code]

[2016-06-29 09:33] s-zanella commented on #173
This appears to be fixed after updating the example.
@vkanne-msft : `MkTuple2` is now `Mktuple2`, thus the error you got.

[2016-06-29 09:33] #173 closed

[2016-06-29 09:42] s-zanella commented on #358
AFAIK, this hasn't been fixed:
[code]
fails with `Expected a constructor of type M.t; got Prims.l_and`

[2016-06-29 09:59] beurdouche commented on #562
I just tried to build the tutorial and I had no trouble.
I am using madoko version 1.0.1

[2016-06-29 10:14] master-q commented on #562
Thanks. I'm also using madoko version 1.0.1.
I'll try to fix it by my self...

[2016-06-29 10:14] #562 closed

[2016-06-29 10:33] beurdouche commented on #537
Strange, looking at that in `--universes` I have this:

[code]

[2016-06-29 14:58] catalin-hritcu commented on #129
Eventually yes, but it will take a while (some weeks at least).

[2016-06-29 19:25] vkanne-msft commented on #171
unable to test.
$ fstar --universes insertionsortcmpfails.fst
Warning: the module declaration "module InsertionSortCmp" found in file insertionsortcmpfails.fst does not match its filename. Dependencies will be incorrect.
D:\Sources\FStar\examples\bug-reports\insertionsortcmpfails.fst(11,0-12,60) (Warning): The 'opaque' qualifier is deprecated; use 'unfoldable', which is also the default
D:\Sources

[2016-06-29 19:27] vkanne-msft commented on #274
hitting an error

$ fstar --universes bug274.fst
D:\Sources\FStar\examples\bug-reports\bug274.fst(4,11-4,13) : Error
Inconsistent implicit argument annotation on argument aa#53

[2016-06-29 19:32] vkanne-msft commented on #264
Seems to be problem still

Too many arguments to function of type (_:FStar.Heap.heap -> _:(FStar.Heap.ref a@1) -> Tot a@2); got 3 arguments

[2016-06-29 19:33] vkanne-msft commented on #216
@catalin-hritcu can you kindly help verify this ?

[2016-06-29 19:35] vkanne-msft commented on #252
Reproducible

[2016-06-29 19:35] vkanne-msft commented on #258
Error: Unexpected error; please file a bug report, ideally with a minimized version of the source program that triggered the error.
impossible

[2016-06-29 19:37] vkanne-msft commented on #259
@aseemr-msr Can you kindly verify this issue with --universes flag. I get an "Impossible" error.

[2016-06-29 23:22] s-zanella commented on #171
I could reproduce this by updating the examples so that they use the correct dependencies.
[code]

[2016-06-29 23:36] s-zanella commented on #264
Cannot reproduce with `--universes`.
@vkanne-msft: I checked in a file with the example above. Can you confirm this was fixed?

[2016-06-30 00:02] s-zanella commented on #258
Did you get that error while checking `examples/bug-reports/bug258.fst`?
With the current file I get
[code]
...which makes sense.
I can reproduce the original issue after patching the example to work around that error. That is, the termination proof of the mutually recursive function succeeds with a `decreases` clause, but doesn't without it.

[2016-06-30 13:41] sishtiaq commented on #36
Plan:
1. The `format.fs` module will implement a version of Wadler/Leeijen/Pottier/Strub's PPrint. `format.fs` will be written in an intersection of F*/F# and, ideally, F*/F#/OCaml.
2. `format.fs` is currently used by `fstar/fstar.fs`, `extraction/kremlin.fs` and `extraction/codegen.fs`, but only in very simple ways. `syntax/print.fs` does not currently use format at all. These clients of format w

[2016-06-30 14:04] VincentCheval opened #563 "Issue with interfaces/implementations when files are split between FSTI and FST"
Hello,

In the wiki, it is written the following:

[code]

I was really pleased with this system so I tried it but I have the impression that it's not working. (I just pulled the last version of Fstar).

Test.fst:
[code]

Test.fsti
[code]

I thought the concatenation would correspond to:
[code]
which should not compile.

But if I call `mono fstar.exe test.fsti test.fst` then I obtain
[code]

Any s

[2016-06-30 14:18] beurdouche commented on #563
Hi Vincent,
I think this is due to the stratified typechecker that apparently only checks the interface.
You might want to try that with the new typechecker using the `--universes` option.
I think in that case it will fail... Can you please confirm ?

[2016-06-30 14:30] VincentCheval commented on #563
Ho I thought that the universes option was by default in the latest version of FStar. It's not the case then ? I can't test it right now since he tells me that I need a new version of Z3 but I'll try it as soon as I install it.

Best,
Vincent

[2016-06-30 14:36] VincentCheval commented on #563
I just installed Z3 with the new version and it works well with the `--universes` option. Thanks

[2016-06-30 14:43] beurdouche commented on #563
Unfortunately `--universes` is not yet the default. It will be in the next release but we have first to update the tutorial, the examples... Cheers. B.

[2016-06-30 14:43] beurdouche commented on #563
Closing as we are not going to fix this in stratified mode.

[2016-06-30 14:43] #563 closed

[2016-06-30 16:45] s-zanella commented on #128
This verifies with `--universes`.
[code]
Closing the issue.

[2016-06-30 16:45] #128 closed

[2016-06-30 16:50] s-zanella commented on #188
Still reproducible.
[code]

[2016-06-30 18:39] s-zanella commented on #550
Closed by 1ed937b3e5f7452bc7f08e85ccff464e1e0693a4.
Thanks @sishtiaq.

[2016-06-30 18:39] #550 closed

[2016-06-30 18:52] aseemr commented on #259
I get a "Mutually defined type contains a non-inductive element" error.

[2016-07-01 10:35] sishtiaq commented on #90
re Nik's first comment: a lot of the examples and doc/tutorial use --stratified. They need to be updated to use the default universes.

To find which files are still using the old mode, grep for "SFSTAR=", and for "\-stratified".

[2016-07-01 10:37] sishtiaq opened #565 "Port examples and doc/tutorial to universes"
The compiler now has universes switched on by default. But a lot of the examples and doc/tutorial still use --stratified. They need to be updated to use the default universes.

To find which files are still using the old mode, grep for "SFSTAR=", and for "-stratified".

Could also port stuff from .old/to_be_ported.

[2016-07-01 11:33] s-zanella commented on #319
I think implementing the strict positivity check in universes should be given a higher priority now that it's the default.

This verifies without any warning:
[code]

[2016-07-01 11:43] aseemr commented on #319
@s-zanella , @nikswamy and I have talked about this. The implementation would be very similar to that of the hasEq check. The week after next I will work with @nikswamy to iron out the issues with hasEq, and then hopefully get to positivity.

[2016-07-01 11:44] s-zanella commented on #319
Thanks, nice to hear you're working on it!

[2016-07-01 12:08] s-zanella opened #566 "Non inductive types should be allowed in mutually inductive definitions"
This is a minor nuisance since there are simple workarounds.

This used to work:

[code]

Now it fails with a `Mutually defined type contains a non-inductive element`.

The workaround is to define first `env` and then `value`:

[code]

See also #258 and #259.

[2016-07-01 12:11] s-zanella commented on #259
I could reproduce the original issue after working around the first error (similar to #258).
See the updated code.

I opened a new issue (#566) for the "Mutually defined type contains a non-inductive element" error.

[2016-07-01 14:24] s-zanella commented on #99
Cannot reproduce anymore.
The version with nested definitions now verifies in about the same time (actually slightly faster, as expected) as the one with top-level definitions.
[code]

[2016-07-01 14:51] nikswamy commented on #566
FYI: I plan to support this relatively soon. It's needed for bootstrapping and rewriting the compiler code to avoid this is more than a minor nuisance. Jonathan and I have had some discussions about how to desugar such examples.

[2016-07-01 22:30] msprotz opened #567 "Puzzling crash in tc_comp"
Sorry for the uninformative title, hard to pinpoint this.

[code]

[2016-07-01 22:31] msprotz commented on #567
Most likely a recent regression since it didn't happen on branch `dm4free` until I merged `master` in it

[2016-07-01 22:46] msprotz opened #568 "Error message improvement"

[2016-07-01 22:51] #568 closed

[2016-07-01 23:19] #567 closed

[2016-07-03 17:55] nikswamy commented on #319
I could probably implement a simplified, conservative version of the check very quickly, and then we'll get a better check from Aseem later.

There used to be a warning about the missing check ... but it was really noisy since it would complain on every data type definition (rightfully so).

Anyway, I agree with the priority 1.

[2016-07-05 06:07] catalin-hritcu commented on #565
As I've already mentioned before, @beurdouche had already started porting the tutorial at some point. His work is in https://github.com/FStarLang/FStar/tree/master/doc/tutorial/code/solutions_universes

[2016-07-05 10:13] sishtiaq commented on #550
Nik's comment:

A lot of the examples and tutorial code carries on working because they use --stratified. #565 tracks the work to removed the use of this flag.

[2016-07-05 11:21] s-zanella commented on #565
@beurdouche: so, all exercises in https://github.com/FStarLang/FStar/tree/master/doc/tutorial/code/solutions_universes already work with universes, and the ones in the `todo` folder need to be ported?

[2016-07-05 11:43] beurdouche commented on #565
Yes, exactly.
In the `todo` folder, I attempted to split the original files into modules (no support for multiple modules anymore) but it seems I screwed up the order of modules. A suggestion would be to simply drop the `todo` folder and restart Ex9+ from the original files...

[2016-07-05 22:39] vkanne-msft opened #569 "FStar.Comp and FStar.Relational are not ported to universes"
FStar.Comp and FStar.Relational are not ported to universes

[2016-07-05 22:43] vkanne-msft commented on #389
Needs #569

[2016-07-05 22:49] vkanne-msft commented on #264
Works for me too. Closing the issue.

[2016-07-05 22:49] #264 closed

[2016-07-05 22:50] vkanne-msft commented on #99
Cannot reproduce

$ time fstar examples/bug-reports/bug99.fst
Verifying module: Bug99
All verification conditions discharged successfully

real    0m2.077s
user    0m0.000s
sys     0m0.000s

[2016-07-05 22:50] #99 closed

[2016-07-05 22:52] vkanne-msft commented on #351
The example in 351.fst works fine.
The example in inj.jst does not complete because of the below error.

    .\examples/paradoxes/inj.fst(13,5-13,6) : Error
    Invalid identifer 'I'; expected a symbol that begins with a lower-case character

@catalin-hritcu  can you verify ?

[2016-07-05 22:53] vkanne-msft commented on #238
Cannot reproduce the issue. Closing for now.

[2016-07-05 22:54] vkanne-msft commented on #291
Seeing new error.
    fstar examples/bug-reports/bug291.fst
    .\examples/bug-reports/bug291.fst(3,20-3,24) : Error
    ?17442 is not equal to the expected type (Prims.dtuple2 ((fun uu___ -> (?17477 uu___@0)) uu___) ((fun uu___ a -> (?17482 uu___@1 a@0)) uu___))

[2016-07-05 22:58] vkanne-msft commented on #463
Can reproduce still

    $ fstar examples/bug-reports/bug463a.fst
    .\examples/bug-reports/bug463a.fst(7,14-7,22) : Error
    Identifier not found: [Precedes]

    $ fstar examples/bug-reports/bug463b.fst
    .\examples/bug-reports/bug463b.fst(11,25-11,26) : Error
    Inconsistent implicit argument annotation on argument a#245

[2016-07-05 23:00] vkanne-msft commented on #251
Getting a new error.

    .\examples/bug-reports/bug251.fst(2,5-2,6) : Error
    Invalid identifer 'T'; expected a symbol that begins with a lower-case character

[2016-07-05 23:01] vkanne-msft commented on #384
@markulf can you kindly help test this with Universes (it is the default now)

[2016-07-05 23:02] vkanne-msft commented on #115
@catalin-hritcu can you help look into this again ?

[2016-07-05 23:03] vkanne-msft commented on #230
@catalin-hritcu can you try this again ?

I am getting a different error.

    .\examples/unit-tests/NegativeTests.Neg.fst(31,12-31,13) : Error
    Invalid identifer 'T'; expected a symbol that begins with a lower-case character

[2016-07-05 23:04] vkanne-msft commented on #281
@catalin-hritcu can you test this one as well ?

[2016-07-06 05:02] beurdouche commented on #569
Hi ! Both seem to be in `ulib`:
`ulib\FStar.Relational.Comp.fst`
`ulib\FStar.Relational.Relational.fst`

[2016-07-06 08:33] catalin-hritcu commented on #230
@vkanne-msft  You're probably running `fstar.exe` without the `--stratified` flag. To run these tests simply do `make all-neg` in `examples/unit-tests`, which will choose the right commands to run.

[2016-07-06 08:57] ad-l commented on #510
I'm late to the party but what is the current status of this?

[2016-07-06 09:07] aseemr commented on #510
@ad-l, as of few days back, F* universe regressions passed with this feature. Making it work for mitls needs some more work. I am hoping to get back to it later this week or early next week.

[2016-07-06 09:59] s-zanella commented on #351
@vkanne-msft: that's an unrelated error due to a syntax change.

Reproducing this requires a means to denote universes beyond `Type0`, which is still pending in #505.
See also #349 for the discussion on injectivity of type constructors.

[2016-07-06 10:11] s-zanella commented on #463
@vkanne-msft: Those error are unrelated to the original issue.
After fixing them, the examples now typecheck, so this seems fixed now.

Closing.

[2016-07-06 10:11] #463 closed

[2016-07-06 10:23] s-zanella commented on #251
The example typechecks fine after working around the syntax error.
Closing.

[2016-07-06 10:23] #251 closed

[2016-07-06 10:35] s-zanella commented on #569
Yes, they are there and they typecheck (since a couple of weeks).
Closing.

[2016-07-06 10:35] #569 closed

[2016-07-06 10:38] sishtiaq commented on #565
@beurdouche Shall we leave porting the tutorial code in your hands?

[2016-07-06 10:41] s-zanella commented on #565
@sishtiaq: I'll probably do it for the tutorial we'll have at MSR next week.
Help is welcome, of course.

[2016-07-06 10:46] s-zanella commented on #293
This has been fixed with universes.

[2016-07-06 10:46] #293 closed

[2016-07-06 10:49] s-zanella commented on #292
This has been fixed with universes.

[2016-07-06 10:49] #292 closed

[2016-07-06 11:10] s-zanella commented on #389
Cannot reproduce anymore.

[2016-07-06 11:10] #389 closed

[2016-07-06 11:49] beurdouche commented on #565
@sishtiaq @s-zanella: not sure I'll have time to get back to this quickly, so feel free to pick it up if you wish...

[2016-07-06 13:15] sishtiaq commented on #565
@beurdouche That's ok. And thanks for telling us!
@s-zanella You can take doc/tutorial, I'll take examples. Is that ok?

[2016-07-06 14:04] MallabaevAzamat opened #570 "Recursive function, guarded type"
Why F* don't verify recursive function.

Code:

[code]

when F* may successfully verify code where "ptype" replaced to "list int" (inside "val" of function)?

[2016-07-06 14:25] aseemr commented on #570
Hello!

For the recursive call `f ys`, F* needs to prove that `pred` holds true for `ys`, as the type of `f` requires it. Rightly so, F* fails to prove it. For example, if `xs = [2]`, `ys = []`, and then `pred` is not true for `ys`.

[2016-07-06 15:10] MallabaevAzamat commented on #570
Thank you!

[2016-07-06 16:05] s-zanella commented on #151
The error message just got better
[code]

[2016-07-06 16:08] #570 closed

[2016-07-06 18:24] s-zanella commented on #363
Cannot reproduce anymore.

[2016-07-06 19:34] vkanne-msft commented on #363
Not reproducible.

[2016-07-06 19:34] #363 closed

[2016-07-08 19:55] nikswamy commented on #230
@adl, @protz
The range info for the OCaml version of the parser is worse than what the F# version reports.

Consider this example:

[code]

The F# version reports an error at the location `.\test.fst(4,0-4,20)`.

Meanwhile, the OCaml version reports an error at '.\test.fst(2,51-4,20)`. That is the location starting from the very end of the line defining `f`. So, it seems that the OCaml version inc

[2016-07-08 20:29] adl commented on #230
I keep receiving notifications from you guys, but you really want to talk to @ad-l, not to me.

[2016-07-08 22:43] msprotz commented on #230
Probably a subtlety in the way ocamlyacc vs. fsyacc maintains positions, in conjunction with lex.mll (ocamllex) updating locations in a suboptimal way. Worth revisiting at the same time as the switch to Menhir; once this is fixed, we'll be able to re-enable locations for the extracted F* in `ocaml-output`.

There may be a low hanging fruit in lex.mll though; hard to tell without diving into the is

[2016-07-09 09:19] catalin-hritcu commented on #217
Elaborator Reflection: Extending Idris in Idris. David Christiansen and Edwin Brady.
http://davidchristiansen.dk/drafts/elab-reflection-draft.pdf

[2016-07-10 23:07] nikswamy opened #571 "Universe constraints not properly checked against some annotations"
[code]

Note, the following variation with an explicit `Type0` is rejected correctly:

[code]

[2016-07-12 00:17] nikswamy commented on #554
The algorithm indeed isn't smart enough to resort to breaking the dependence on `i` when the proof of `i = i + 1` fails. Notice, that the reason this succeeds in --lax mode is that there the proof of `i = i + 1` is just admitted.

As for this succeeding in --stratified: that's ancient. Can't really explain that, and not really worth explaining that behavior, IMO.

I'm marking this an enhancement a

[2016-07-12 03:59] nikswamy commented on #554
Actually, maybe a relatively small tweak of the unification/subtyping algorithm can support this.

Currently, when comparing `(t a =?= t b)` we check that `a=b`. In case the head symbol of either `a` or `b` is marked "Delta_equational", then this check of `a=b` is dispatched to the SMT solver. This works well most of the time, except, as this example demonstrates, in the case where `t` is a meta-v

[2016-07-12 05:13] nikswamy commented on #517
The original problem should be improved now.

However, the extraction problem remains.

Also, some very disturbing pathologies remain. The combination of pattern matching notation in the arguments of a function and this inline annotation of the result type-and-effect is badly broken.

This program fails to verify:

[code]

Whereas this one is fine:

[code]

Astoundingly, in the first example, the

[2016-07-12 10:36] s-zanella opened #573 "OCaml extraction of constructor application without implicit parameters stalls"
I haven't had time to create a minimal example.
This shows up during extraction of `TestServer.fst` in https://github.com/mitls/mitls-fstar/commit/889753d4151e52dae6d925b7c92c0fdb62338f33. The problem appears to be in this line:

`AEAD_GCM.State key iv () counter`

Providing the implicit arguments explicitly solves it:

`AEAD_GCM.State #id #Writer #r #r key iv () counter`

To reproduce, run

`make

[2016-07-12 16:49] s-zanella opened #574 "Error when extracting trivial parameterized type"
[code]

[code]

[2016-07-12 18:34] catalin-hritcu commented on #351
After porting `inj.fst` to universe syntaxt (and renaming it to `InjectiveTypeFormers.fst`), I think I'm hitting the error @s-zanella was talking about:
[code]

[2016-07-12 18:58] catalin-hritcu commented on #281
The 4 versions consistently finish in ~12-13s on my machine. This seems fixed, closing.
[code]

[2016-07-12 18:58] #281 closed

[2016-07-12 19:07] catalin-hritcu commented on #274
This does not occur with universes. Closing.

[2016-07-12 19:07] #274 closed

[2016-07-12 19:53] catalin-hritcu opened #575 "F* chokes on inductive relation parameterized by another relation"
Seems that F\* now has troubles defining simple inductive relations like reflexive transitive closure. Here's an even more simplified example that causes F\* to loop forever:

[code]

This seems like a regression, I'm quite sure this used to work well a while back.

[Update 2016-10-12] This no longer loops, but without Nik's `--__temp_no_proj Bug575` workaround the error message for this is now:

[2016-07-12 20:07] catalin-hritcu opened #576 "Spurious patterns are incomplete error"
For some reason F* now has trouble proving the simplified `subst_closed` below does a complete pattern match:
[code]
[code]
Adding a dummy `EVar` case or changing the definition of `not (is_EVar e)` makes this go away. This used to work as is in the past though, any reason it should't still work?

[2016-07-12 20:11] catalin-hritcu commented on #575
This blocks me from porting stlc-norm to universes.
https://github.com/yforster/stlc-norm

[2016-07-12 20:14] catalin-hritcu commented on #236
Reproducing this out requires porting 2 interesting examples to universes, which might take a while, I'm afraid.

[2016-07-12 20:24] catalin-hritcu commented on #90
@nikswamy Is this really a Milestone 1 thing? When is that planned?

[2016-07-12 20:39] catalin-hritcu commented on #100
`by_induction_on` is gone for good. It never really worked very well, and Nik would prefer to figure out something properly via a tactic language. Closing as wontfix.

[2016-07-12 20:39] #100 closed

[2016-07-12 20:48] catalin-hritcu commented on #115
Tried to bring `StlcCbvDbPntSubstLists` to universes, but so far without so much success:
[code]
@aseemr-msr Any idea what's happening here?

More generally, this file is indeed quite flaky and takes indeed really long to verify. Is is worth doing something about that?

[2016-07-12 21:40] s-zanella commented on #575
The definition of `multi` in the simplified example works when inlining `relation`:
[code]
I don't know if you could work around the issue as easily in stlc-norm.

[2016-07-12 21:54] s-zanella commented on #576
It seems you simplified the code too much.
`closed` is extensionally equal to `fun e:exp -> true`, so F* complains rightly that you miss patterns. Can you fix the example to reproduce the error?

[2016-07-13 04:40] nikswamy commented on #575
Sigh.

An ugly workaround: ` --__temp_no_proj ModuleA`.

Investigating further

[2016-07-13 05:59] catalin-hritcu commented on #417
A similar `NYI: eta_expand` error appears in stlc-norm:
[code]
The code looks like this:
[code]
Notably, the whole case study is done before "equality constraints" existed, so it uses none ... which might mean it's a different problem?

[2016-07-13 06:01] catalin-hritcu commented on #417
This might also be related to #208, which also gets `NYI: eta_expand(Tm_app)` now.

[2016-07-13 06:18] catalin-hritcu commented on #575
Thanks for the workarounds. It was indeed enough to just inline `relation` to keep going on stlc-norm.

[2016-07-13 07:09] catalin-hritcu opened #577 "Unexpected error: NYI: eta_expand(Tm_fvar"
Running into many unexpected errors when trying to port stlc-norm (https://github.com/yforster/stlc-norm) to universes, and they are all the same:
[code]
Managed to simplify the problem to just this
[code]
The blow up message seems slightly different from #208 and #417, so I'm filing this as a separate bug.

[2016-07-13 07:21] catalin-hritcu commented on #576
Thanks for spotting this, this was indeed caused by a silly simplification. The real example involves a quantifier without a pattern, so it's not at all clear whether F* is at fault there.

[2016-07-13 07:21] #576 closed

[2016-07-13 18:43] catalin-hritcu opened #578 "Working with computed function types painful"
I'm encountering strange failures with computed function types in stlc-norm (https://github.com/yforster/stlc-norm/blob/master/StlcNormalizing.fst#L277) and being a bit spuck there I wanted to try if computed function types work in much simpler examples, and the results are quite mixed, including two different Unexpected errors and some regular failures too.
[code]

[2016-07-13 20:49] catalin-hritcu opened #579 "Double bogus "could not prove post-condition" in recursive proof"
I was having troubles porting the progress proof from `LambdaOmega.fst` to universes. It's not easy to simplify this one without losing it, so my smallest example looks like this:
[code]
The error is this:
[code]
Doing almost any simplification to this makes it work, for instance turning the `Pure` into an equivalent `Tot`:
[code]

[2016-07-14 08:27] catalin-hritcu opened #580 "Failed to verify implicit argument: Subtyping check failed"
Update summary: basically F* can't always type-check the types it infers, even if they are correct and everything works well when writing them explicitly.

Some proofs in `LambdaOmega.fst` are failing when switching to universes with `Failed to verify implicit argument: Subtyping check failed` error messages like this:

[code]

The error messages seem at first sight to have little to do with the c

[2016-07-14 09:24] catalin-hritcu commented on #236
Confirmed that this problem no longer appears with universes.

[2016-07-14 09:24] #236 closed

[2016-07-14 09:31] catalin-hritcu commented on #216
This problem seems to no longer occur with universes.

[2016-07-14 09:31] #216 closed

[2016-07-14 09:39] catalin-hritcu commented on #580
This problem seems to have appeared in `StlcCbvDbParSubst.fst` too, which should explain Nik's commit message for fd55545d ("a couple of more STLC examples ... the main trouble seems to be the more restrictive implicit parameter semantics") and code like this:
[code]
I'm going to give this `#_` a try, wasn't aware of this syntax.

[2016-07-14 09:44] catalin-hritcu commented on #129
Could confirm that this problem no longer appears in `StlcCbvDbParSubst.fst`. For `LambdaOmega.fst` the code that caused this is already gone. Closing.

[2016-07-14 09:44] #129 closed

[2016-07-14 13:28] nikswamy commented on #580
See point 2 here: https://github.com/FStarLang/FStar/wiki/Migrating-code-to-use-the---universes-mode-(particularly,-as-related-to-mitls-fstar)

[2016-07-14 13:29] nikswamy commented on #580
There's a improvement I've discussed with @protz of re-checking a term when implicits fail...perhaps it's time to implement it

[2016-07-14 13:58] s-zanella opened #581 "Behavior of inferred effect arguments without `val`"
I was surprised to see that giving no `val` declaration isn't equivalent to giving one without refinements or effects, as illustrated in the example below.

[code]

This isn't the case with `--stratified`. It was confusing for me and at least one other person run into this problem when playing with `ex1a-safe-read-write.fst` in the tutorial.

Is this really the behaviour we want?
If we prefer to h

[2016-07-14 20:24] nikswamy commented on #580
Not sure if it's correct to tag this a bug. It was recorded from the start as a known design constraint in the universes branch. Enhancement, perhaps?

[2016-07-14 20:26] nikswamy opened #582 "Universe inference bug when working with the All (or probably any exceptions) monad"
Minimized from a report submitted by Barry Bond.

[code]

This fails with:

[code]

[2016-07-14 22:43] #582 closed

[2016-07-15 13:51] s-zanella commented on #581
Thanks for clarifying this.

Shouldn't `ML` be the default effect of the `ALL` monad?
From the example above, it appears it isn't.

[2016-07-15 13:57] nikswamy commented on #581
My point was that we have no default effects aside from Tot and GTot.

The fact that t -> s is interpreted as t -> ML s is orthogonal

[2016-07-15 14:04] s-zanella commented on #581
I see. That's exactly the source of my confusion: that `t -> s` doesn't infer an effect, but is interpreted as `t -> ML s`.

I guess you don't want to make `ML` the default effect of `ALL`, since you are trying to get rid of default effects.
Would it be a good idea to infer an effect instead of using `ML` when writing `t -> s`?
More generally, any alternative that makes writing `t -> s` or nothing

[2016-07-15 18:25] vkanne-msft commented on #384
FSIs dont exist anymore. So closing the issue.

[2016-07-15 18:27] vkanne-msft commented on #270
#565

[2016-07-15 18:29] vkanne-msft commented on #298
Ghost functions that return non-informative types are promoted to PURE. This should now be possible today.

[2016-07-15 18:29] #298 closed

[2016-07-15 18:31] vkanne-msft commented on #312
@ngrimm is this still valid ?

[2016-07-15 18:35] vkanne-msft commented on #324
We will not remove this from internet since other papers reference it.

[2016-07-15 18:36] vkanne-msft commented on #331
This is not in the roadmap. @ad-l, reopen this if you think this is necessary/relevant.

[2016-07-15 18:36] #331 closed

[2016-07-15 18:37] catalin-hritcu commented on #324
Fair enough, but can we clearly mark it as obsolete then? With a huge banner at the top? :)  Every now and then we're still receiving questions from confused people asking why the syntax there doesn't work with (modern) F*.

[2016-07-15 18:40] msprotz commented on #336
[code]

This is the OCaml version, so I'd say good enough for me.

[2016-07-15 18:40] #336 closed

[2016-07-15 18:41] vkanne-msft commented on #340
This is no longer possible in universes. Although, we have other issues with overloading "*" Closing this one.

[2016-07-15 18:41] #340 closed

[2016-07-15 18:41] catalin-hritcu commented on #336
indeed, this works now

[2016-07-15 18:42] vkanne-msft commented on #347
Closed.

[2016-07-15 18:42] #347 closed

[2016-07-15 18:43] nikswamy commented on #347
Universes mode is much stricter about unresolved implicits.

[2016-07-15 18:47] vkanne-msft commented on #396
No more admits in seqproperties. Closed

[2016-07-15 18:50] vkanne-msft commented on #411
We now use Travis and it is functional. Closing this issue.

[2016-07-15 18:50] #411 closed

[2016-07-15 18:53] vkanne-msft commented on #414
@gsvgit Contributions welcome. Leaving the issue open.

[2016-07-15 18:54] vkanne-msft commented on #417
Tracking this with #577

[2016-07-15 18:55] msprotz commented on #393
https://github.com/FStarLang/FStar/wiki/Executing-F*-code done

[2016-07-15 18:55] #393 closed

[2016-07-15 18:59] vkanne-msft commented on #432
Only 1 module per file now.

Dynamic checks are not in our roadmap.

[2016-07-15 19:00] catalin-hritcu opened #583 "Unsoundness without value restriction"
[code]

[2016-07-15 19:01] catalin-hritcu commented on #347
I like the stricter implicits. Unfortunately, the `ValueRestriction.fst` paradox now goes through (#583).

[2016-07-15 19:02] vkanne-msft commented on #447
This is valuable but not currently in our roadmap. Thanks for the input. It is beyond the core F* tool.

[2016-07-15 19:02] #447 closed

[2016-07-15 19:03] vkanne-msft commented on #455
This has been implemented. Closed.

[2016-07-15 19:03] #455 closed

[2016-07-15 19:05] vkanne-msft commented on #460
Thanks for the input. We will look into it.

[2016-07-15 19:10] #396 closed

[2016-07-15 19:10] nikswamy commented on #583
Argh. Extraction erases the binder. nice catch.

[2016-07-15 19:27] s-zanella commented on #384
.fsi files should now have extension .fsti. We do have .fsti files for some libraries, so this may as well still be a bug.

[2016-07-15 19:33] nikswamy commented on #583
Actually, not clear that this is unsound. We don't erase the binder so r is generative

[2016-07-15 19:36] catalin-hritcu commented on #583
Right, this is just fine, sorry for the scare :)

[2016-07-15 19:36] #583 closed

[2016-07-15 19:46] vkanne-msft commented on #384
Nikhil, comments ?

From: Santiago Zanella-Beguelin [mailto:notifications@github.com]
Sent: Friday, July 15, 2016 12:27 PM
To: FStarLang/FStar <FStar@noreply.github.com>
Cc: Sreekanth Kannepalli <vkanne@microsoft.com>; State change <state_change@noreply.github.com>
Subject: Re: [FStarLang/FStar] Some libraries like hyperHeap.fst and map.fst cannot be extracted together with their .fsti. (#384)

.f

[2016-07-15 20:02] nikswamy commented on #384
but we do extract .fsti+.fst after interleaving them. Do we know of a case where it doesn't work?

[2016-07-17 02:16] nikswamy commented on #581
In discussions with @protz, we were considering changing `t -> s` to mean `t -> Tot s`.

Perhaps this will clear some of the confusion, given that `Tot` will be also the default inferred effect for a `PURE` computation.

That way, the default effect annotation and default inferred effect will coincide.

But, changing `t -> s` to mean `t -> Tot s` will break compatibility with ML. Not such a big de

[2016-07-17 15:55] DanielFabian opened #584 "Provide docker builds"
I see there are docker builds in the .docker folder, but I can't find the builds on docker hub. Could you set up an automated build?

I am trying to set up a boxed environment with emacs and the settings required for running F* in a docker container and starting from the "official" F* docker would be the obvious choice.

[2016-07-18 08:00] beurdouche commented on #584
I don't have much time to look into it now but it is a good idea.
We could even integrate it in the official repo in the future if it works well...
@DanielFabian Please ping me by the first week of august if I forget.

[2016-07-18 08:02] beurdouche commented on #526
Forgot that, I will do this changes at the same time I'll handle #584

[2016-07-18 09:05] sishtiaq commented on #584
If you're happy to wait until Aug, I can do it too. Assign it to me!

[2016-07-18 09:13] beurdouche commented on #584
Sure you can go for it if you want :)

[2016-07-18 09:30] s-zanella commented on #584
@DanielFabian: If you have something that works now, we will be happy to integrate it into the repo as the official docker build.
@sishtiaq: if you want to coordinate with Daniel, he's on the 2nd floor!

[2016-07-18 09:35] DanielFabian commented on #584
I don't have anything finished just yet. So far, I got it to clone the sources build off the OCaml output, Extract OCaml sources and re-build.

So essentially quite similar to what the .build folder already has anyway (I only noticed them late).

No emacs yet, I'm afraid. That said, I'll probably get some time in the evenings / weekend until August, so I'll probably have something by then.

Once I

[2016-07-18 09:35] s-zanella commented on #581
That would be a solution, although losing compatibility with OCaml is unfortunate.

Why is it a bad idea to infer an effect instead of using `ML` when writing  `t -> s`? Is it just because it would break existing code?

[2016-07-18 09:39] s-zanella commented on #584
Great! Feel free to discuss it with us, and ask for help if you get stuck.

[2016-07-18 11:04] s-zanella commented on #312
`opaque` is deprecated. The new `irreducible` qualifier can be used to tell F* not to unfold a definition in the SMT encoding.

Using `irreducible` instead of `opaque` in the example code makes the code typecheck almost instantly.

See [Qualifiers for definitions and declarations](https://github.com/FStarLang/FStar/wiki/Qualifiers-for-definitions-and-declarations) for a discussion of the new quali

[2016-07-18 11:04] #312 closed

[2016-07-18 11:10] s-zanella opened #585 "Wrong suggestion to replace `opaque` by `unfoldable`"
When using the `opaque` qualifier F* suggests:

`The 'opaque' qualifier is deprecated; use 'unfoldable', which is also the default`

This suggestion seems wrong. `unfoldable` *is* the default, but probably one would want to use `irreducible` instead.

[2016-07-18 11:25] catalin-hritcu commented on #585
I'm also confused by this. If I remembered correctly using `irreducible` for opaque constructive proofs didn't really work, the later proofs started failing.

[2016-07-18 11:29] s-zanella commented on #460
Still valid using either Heap or HyperHeap.

I checked in the example code updated to reflect syntax changes.
Reproduce with
[code]

[2016-07-18 11:30] catalin-hritcu commented on #585
I've done a quick experiment with `LambdaOmega.fst` and replacing `opaque` with `irreducible` makes the file fail (see below). This means that `opaque` and `irreducible` are not really the same.
[code]

[2016-07-18 11:33] s-zanella commented on #585
I think this experiment just compares `unfoldable` to `irreducible`, because `opaque` is silently ignored.

In any case, filling in the equivalence table for old and new qualifiers in the Wiki will be very helpful in porting old code.

[2016-07-18 11:36] s-zanella commented on #384
I don't know of any case.
The issue was about `FStar.HyperHeap`, but we no longer have `FStar.HyperHeap.fsti`. Feel free to close.

[2016-07-18 11:45] catalin-hritcu commented on #585
Not sure. This code was recently ported from `--stratified` where `opaque` is not ignored, is it? It clearly wasn't ignored when this code was written and verified at least.

[2016-07-18 11:51] s-zanella commented on #585
Agree.
But you're re-running the code using Universes, so a proper experiment would use `--stratified`.

[2016-07-18 12:19] catalin-hritcu commented on #585
Tracked down the `irreducible` errors in `LambdaOmega.fst` to a couple of silly `irreducible type` and `irreducible logic type` declarations, that were apparently just ignored with `opaque`(?), but respected with `irreducible`. I've just removed these silly `irreducible`s.

So a better advice could be replace `opaque` with `irreducible` in any `val`, and just remove any `opaque` in any type?

[2016-07-18 12:44] aseemr commented on #585
In the stratified version, one use case of `opaque` with types was for Z3 triggers, so those uses should be changed to `irreducible`, I think.

[2016-07-18 13:13] nikswamy commented on #581
Well, one main reason the F* implementation is tractable is that we lack effect polymorphism.

What would you infer for the type of

[code]

Without resorting to our defaults, we'd have to generalize an effect variable. And the cat's out the bag ...

[2016-07-18 20:50] nikswamy opened #586 "Normalization bug for Beta_uvars revealed by generalizations"
[code]

After generalization of `int_at_most` things go badly wrong

[code]

Notice that the de Bruijn index on Test.sel in the body is p@2 instead of p@3.

[2016-07-18 20:59] #586 closed

[2016-07-18 23:29] beurdouche opened #587 "Relax restriction on namespaces syntax"
It is currently impossible to name a module `module Bug.123` because there is a restriction on the namespace syntax that must apparently start with a capital letter.
Such naming don't go through parsing. It might be convenient to allow this to be able to name things the following way `module Crypto.AES.256` `module Crypto.AES.128` ...

[2016-07-18 23:32] beurdouche commented on #587
A more accurate example would be `module SHA2.256` `module SHA3.512`

[2016-07-19 05:40] catalin-hritcu commented on #587
I would say pick your favorite letter of the alphabet and add it before the number, for instance `SHA2.L256` (length) or `SHA2.S256` (size). Or use an underscore instead of a `.`?

Anyway, it seems silly to make syntax less uniform just to allow a couple of particular names where that fits well.

[2016-07-19 05:54] catalin-hritcu commented on #581
I'm a big fan of having soundness and purity be the default, so I think this change would be awesome.

I think the only place where ML compatibility actually matters is bootstrapping. But maybe we could have an extra flag there? Or maybe with `--lax` that doesn't matter anyway?

[2016-07-19 06:12] nikswamy commented on #587
I agree with Catalin. Unlikely to change this. closing.

[2016-07-19 06:12] #587 closed

[2016-07-19 07:46] DanielFabian commented on #584
Alright, so here is what I have so far:
[danielfabian/fstar](https://hub.docker.com/r/danielfabian/fstar/)

It's based on my [fstar_devenv](https://github.com/DanielFabian/FStar/tree/add-docker-container/.docker/fstar_devenv) directory. The file is heavily inspired by the [ubuntu_xenial](https://github.com/FStarLang/FStar/tree/master/.docker/ubuntu_xenial) directory but it is not actually `FROM` i

[2016-07-19 08:13] beurdouche commented on #584
Cool ;) Here are a few comments...

Point 1:
This isn't normally supposed to happen as only the OCaml snapshot is required to build F* and this snapshot is always supposed to pass the regression tests.

Regarding regressions, Jonathan has been working on the targets so you can replace the two final lines dedicated to testing with the following one :
`RUN opam config exec -- make -C src regressions